<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <!--La cadena IS_PRO2CS no va aquí: al primer arranque la aplicación pide la conexión y la guarda cifrada
      (DPAPI). Para cambiarla después, ejecutar Farmacia1.0.exe /conexion.-->
  <connectionStrings />


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <appSettings>
    <!--codigoSucursal identifica este equipo. El resto son valores de respaldo: la fuente es la tabla PARAMETRO
        (Administración > Configuración). nombreImpresora se guarda por equipo en la configuración de usuario.-->
    <add key="codigoSucursal" value="10001" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
