<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="IS_PRO2CS" connectionString="Data Source=sql1001.site4now.net;Initial Catalog=db_ab10ba_kbarreradev;User ID=db_ab10ba_kbarreradev_admin;Password=Avesdepaso2024."/>-->
    <add name="IS_PRO2CS" connectionString="Data Source=DESKTOP-I5SSR7K\ISPRODESADB;Initial Catalog=farmaciahorro_ispro2;User ID=usr_isproapp;Password=mafer." />
    <!--<add name="IS_PRO2CS" connectionString="Data Source=192.168.1.130;Initial Catalog=db_ab10ba_kbarreradev;User ID=kevin;Password=mafer." />-->
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <appSettings>
    <!--Datos de conexión-->
    <add key="codigoSucursal" value="10001" />
    <add key="sucursalFisica" value="La Bendicion" />
    <add key="imprimeTicket" value="S" />
    <add key="imprimeTicketCuadre" value="N" />
    <add key="nombreImpresora" value="Microsoft Print to PDF" />
    <add key="nombreEmpresa" value="Comercial La Bendición" />
    <add key="eslogan" value="Comercial La Bendición" />
    <add key="esAdmin" value="N" />
    <add key="horasDiferencia" value="0" />
    <add key="logoPath" value="C:\Images\logofarmavela.jpeg" />
    <add key="cantTickets" value="2" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
