<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="IS_PRO2CS" connectionString="Data Source=SERVER;Initial Catalog=DB;User ID=USR;Password=XXX" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <appSettings>
    <!--Datos de conexión-->
    <add key="codigoSucursal" value="10001" />
    <add key="sucursalFisica" value="SUCURSAL" />
    <add key="imprimeTicket" value="N" />
    <add key="imprimeTicketCuadre" value="N" />
    <add key="nombreImpresora" value="Microsoft Print to PDF" />
    <add key="nombreEmpresa" value="NOMBRE EMPRESA" />
    <add key="eslogan" value="ESLOGAN" />
    <add key="esAdmin" value="N" />
    <add key="horasDiferencia" value="0" />
    <add key="logoPath" value="C:\Images\logo.jpeg" />
    <add key="cantTickets" value="2" />
    <add key="cliente" value="XXXX" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
