USE [master]
GO
/****** Object:  Database [farmaciahorro_ispro2]    Script Date: 12/2/2024 6:47:19 PM ******/
CREATE DATABASE [farmaciahorro_ispro2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'farmaciahorro_ispro2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\farmaciahorro_ispro2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'farmaciahorro_ispro2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\farmaciahorro_ispro2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [farmaciahorro_ispro2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [farmaciahorro_ispro2]
GO
/****** Object:  User [kevin]    Script Date: 12/2/2024 6:47:19 PM ******/
CREATE USER [kevin] FOR LOGIN [kevin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [kevin]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [kevin]
GO
ALTER ROLE [db_datareader] ADD MEMBER [kevin]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [kevin]
GO
/****** Object:  UserDefinedTableType [dbo].[DETALLESVENTA]    Script Date: 12/2/2024 6:47:19 PM ******/
CREATE TYPE [dbo].[DETALLESVENTA] AS TABLE(
	[nDetalleVenta] [smallint] NOT NULL,
	[producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](18, 2) NOT NULL,
	[subtotal] [decimal](18, 2) NOT NULL
)
GO
/****** Object:  Table [dbo].[AJUSTE]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AJUSTE](
	[nAjuste] [int] IDENTITY(100,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[sucursal] [int] NOT NULL,
	[usuario] [int] NOT NULL,
	[concepto] [varchar](150) NULL,
	[total] [decimal](10, 2) NOT NULL,
	[tipoAjuste] [smallint] NOT NULL,
 CONSTRAINT [PK_AJUSTE] PRIMARY KEY CLUSTERED 
(
	[nAjuste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BITACORA]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BITACORA](
	[correlativo] [int] NOT NULL,
	[fecha] [datetime] NULL,
	[usuario] [varchar](50) NULL,
	[estacion] [varchar](100) NULL,
	[accion] [varchar](100) NULL,
 CONSTRAINT [PK_BITACORA] PRIMARY KEY CLUSTERED 
(
	[correlativo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[idCategoria] [int] IDENTITY(1000,1) NOT NULL,
	[categoria] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[nitCliente] [varchar](20) NOT NULL,
	[rzCliente] [varchar](100) NOT NULL,
	[direccionCliente] [varchar](150) NOT NULL,
	[telefonoCliente] [varchar](100) NULL,
	[correoCliente] [varchar](100) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[nitCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRA]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRA](
	[nCompra] [int] IDENTITY(1,1) NOT NULL,
	[fechaC] [date] NOT NULL,
	[usuario] [int] NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[documento] [bigint] NOT NULL,
	[sucursal] [int] NOT NULL,
	[proveedor] [int] NOT NULL,
	[formaPago] [int] NOT NULL,
	[fechaPago] [date] NULL,
 CONSTRAINT [PK_COMPRA] PRIMARY KEY CLUSTERED 
(
	[nCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTAXPAGAR]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTAXPAGAR](
	[idCuenta] [int] IDENTITY(1000,1) NOT NULL,
	[concepto] [varchar](100) NULL,
	[fechaInicio] [date] NOT NULL,
	[fechaLimite] [date] NOT NULL,
	[totalCuenta] [decimal](10, 2) NOT NULL,
	[saldoCuenta] [decimal](10, 2) NOT NULL,
	[estado] [smallint] NOT NULL,
	[idProveedor] [int] NOT NULL,
	[idCompra] [int] NOT NULL,
 CONSTRAINT [PK_CUENTAXPAGAR] PRIMARY KEY CLUSTERED 
(
	[idCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAJUSTE]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAJUSTE](
	[ndetajuste] [smallint] NOT NULL,
	[najuste] [int] NOT NULL,
	[producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_DETAJUSTE] PRIMARY KEY CLUSTERED 
(
	[ndetajuste] ASC,
	[najuste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLECOMPRA]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLECOMPRA](
	[nDetalleC] [smallint] NOT NULL,
	[nCompra] [int] NOT NULL,
	[producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_DETALLECOMPRA] PRIMARY KEY CLUSTERED 
(
	[nDetalleC] ASC,
	[nCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLECXP]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLECXP](
	[idDetalleCXP] [int] NOT NULL,
	[idCuenta] [int] NOT NULL,
	[fechaPago] [date] NOT NULL,
	[abono] [decimal](10, 2) NOT NULL,
	[nreciboProveedor] [int] NULL,
 CONSTRAINT [PK_DETALLECXP] PRIMARY KEY CLUSTERED 
(
	[idDetalleCXP] ASC,
	[idCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLEVENTA]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLEVENTA](
	[nDetalleV] [smallint] NOT NULL,
	[nVenta] [int] NOT NULL,
	[producto] [int] NULL,
	[cantidad] [int] NULL,
	[precio] [decimal](18, 2) NULL,
	[subtotal] [decimal](18, 2) NULL,
 CONSTRAINT [PK_DETALLEVENTA] PRIMARY KEY CLUSTERED 
(
	[nDetalleV] ASC,
	[nVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLEVENTASELIMINADOS]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLEVENTASELIMINADOS](
	[ndetalle] [int] NULL,
	[nventa] [int] NULL,
	[producto] [int] NULL,
	[cantidad] [int] NULL,
	[precio] [decimal](10, 2) NULL,
	[subtotal] [decimal](10, 2) NULL,
	[felim] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETENTRADAXT]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETENTRADAXT](
	[ndetentraxtrasiego] [smallint] NOT NULL,
	[nentraxtrasiego] [int] NOT NULL,
	[producto] [int] NULL,
	[cantidad] [int] NULL,
	[precio] [decimal](10, 2) NULL,
	[subtotal] [decimal](10, 2) NULL,
 CONSTRAINT [PK_DETENTRADAXT] PRIMARY KEY CLUSTERED 
(
	[ndetentraxtrasiego] ASC,
	[nentraxtrasiego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETENTRADAXTRASLADO]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETENTRADAXTRASLADO](
	[ndetentrxtralad] [smallint] NOT NULL,
	[nentrxtrasld] [int] NOT NULL,
	[producto] [int] NOT NULL,
	[cant] [smallint] NOT NULL,
 CONSTRAINT [PK_DETENTRADAXTRASLADO] PRIMARY KEY CLUSTERED 
(
	[ndetentrxtralad] ASC,
	[nentrxtrasld] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETENTRADAXTRASLADOTEMP]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETENTRADAXTRASLADOTEMP](
	[ndetentradaxtraslado] [int] NOT NULL,
	[nentradaxtraslado] [int] NOT NULL,
	[producto] [int] NULL,
	[cant] [int] NULL,
 CONSTRAINT [PK_DETENTRADAXTRASLADORTEM] PRIMARY KEY CLUSTERED 
(
	[ndetentradaxtraslado] ASC,
	[nentradaxtraslado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETSALIDAXT]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETSALIDAXT](
	[ndetsalxtrasiego] [smallint] NOT NULL,
	[nsalxtrasiego] [int] NOT NULL,
	[producto] [int] NULL,
	[cantidad] [int] NULL,
	[precio] [decimal](10, 2) NULL,
	[importe] [decimal](10, 2) NULL,
 CONSTRAINT [PK_DETSALIDAXT] PRIMARY KEY CLUSTERED 
(
	[ndetsalxtrasiego] ASC,
	[nsalxtrasiego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETSALXTRASLADO]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETSALXTRASLADO](
	[ndetxtraslado] [int] NOT NULL,
	[nsalxtraslado] [int] NOT NULL,
	[producto] [int] NOT NULL,
	[cantidad] [smallint] NOT NULL,
 CONSTRAINT [PK_DETSALXTRASLADO] PRIMARY KEY CLUSTERED 
(
	[ndetxtraslado] ASC,
	[nsalxtraslado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTXTRASLADO]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTXTRASLADO](
	[nEXTraslado] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[sucursal] [int] NOT NULL,
	[usuario] [int] NOT NULL,
	[nSalidaRelacionada] [int] NULL,
 CONSTRAINT [PK_ENTXTRASLADO] PRIMARY KEY CLUSTERED 
(
	[nEXTraslado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOCXP]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOCXP](
	[idEstadoCXP] [smallint] NOT NULL,
	[estadoCXP] [varchar](50) NULL,
 CONSTRAINT [PK_ESTADOCXP] PRIMARY KEY CLUSTERED 
(
	[idEstadoCXP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOUSUARIO]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOUSUARIO](
	[idEstado] [int] NOT NULL,
	[estadoUsuario] [varchar](50) NULL,
 CONSTRAINT [PK_ESTADOUSUARIO] PRIMARY KEY CLUSTERED 
(
	[idEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTANTERIA]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTANTERIA](
	[idEstanteria] [int] IDENTITY(100,1) NOT NULL,
 CONSTRAINT [PK_ESTANTERIA] PRIMARY KEY CLUSTERED 
(
	[idEstanteria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[nFactura] [int] NOT NULL,
	[fecha] [date] NULL,
	[nitCliente] [varchar](25) NULL,
	[nombreCliente] [varchar](150) NULL,
	[direccionCliente] [varchar](150) NULL,
	[serie] [int] NULL,
	[nVenta] [int] NULL,
	[estado] [int] NULL,
 CONSTRAINT [PK_FACTURA] PRIMARY KEY CLUSTERED 
(
	[nFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMAPAGO]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMAPAGO](
	[idFormaPago] [int] NOT NULL,
	[foraPago] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FORMAPAGO] PRIMARY KEY CLUSTERED 
(
	[idFormaPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LABORATORIO]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LABORATORIO](
	[idLab] [int] IDENTITY(1000,1) NOT NULL,
	[laboratorio] [varchar](100) NOT NULL,
 CONSTRAINT [PK_LABORATORIO] PRIMARY KEY CLUSTERED 
(
	[idLab] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[idProducto] [int] IDENTITY(10000,1) NOT NULL,
	[dProducto] [varchar](150) NOT NULL,
	[composicion] [varchar](150) NULL,
	[presentacion] [varchar](100) NOT NULL,
	[aterapeutica] [varchar](150) NULL,
	[indicaciones] [varchar](150) NULL,
	[contraindicaciones] [varchar](150) NULL,
	[observaciones] [varchar](250) NULL,
	[proveedor] [int] NOT NULL,
	[medida] [varchar](75) NULL,
	[categoria] [int] NOT NULL,
	[laboratorio] [varchar](100) NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[costo] [decimal](10, 2) NOT NULL,
	[fechaRegistro] [date] NOT NULL,
	[estanteria] [int] NULL,
	[barcode] [varchar](25) NULL,
	[stockmin] [int] NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[idProveedor] [int] IDENTITY(1000,1) NOT NULL,
	[nitProveedor] [varchar](50) NULL,
	[rzProveedor] [varchar](100) NOT NULL,
	[dirProveedor] [varchar](150) NULL,
	[telProveedor] [varchar](50) NULL,
	[mailProveedor] [varchar](75) NULL,
	[contactoProveedor] [varchar](100) NULL,
	[telContacto] [varchar](50) NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALXTRASLADO]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALXTRASLADO](
	[nSXTraslado] [int] IDENTITY(1,1) NOT NULL,
	[fechasxtraslado] [date] NOT NULL,
	[sucursalSalida] [int] NOT NULL,
	[usuario] [int] NOT NULL,
	[recibido] [char](1) NULL,
 CONSTRAINT [PK_SALXTRASLADO] PRIMARY KEY CLUSTERED 
(
	[nSXTraslado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SECUENCIAL]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECUENCIAL](
	[SE_TABLE] [varchar](50) NOT NULL,
	[SE_SEQ] [int] NULL,
 CONSTRAINT [PK_SECUENCIAL] PRIMARY KEY CLUSTERED 
(
	[SE_TABLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERIEFACTURA]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERIEFACTURA](
	[idSerie] [int] IDENTITY(1,1) NOT NULL,
	[letra] [varchar](5) NULL,
	[sucursal] [int] NULL,
 CONSTRAINT [PK_SERIEFACTURA] PRIMARY KEY CLUSTERED 
(
	[idSerie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[idSucursal] [int] IDENTITY(10000,1) NOT NULL,
	[nombreSuc] [varchar](100) NOT NULL,
	[direccionSuc] [varchar](150) NOT NULL,
	[telefono] [varchar](50) NULL,
 CONSTRAINT [PK_SUCURSAL] PRIMARY KEY CLUSTERED 
(
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOAJUSTE]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOAJUSTE](
	[idTipoAjuste] [smallint] NOT NULL,
	[tipoAjuste] [varchar](50) NULL,
 CONSTRAINT [PK_TIPOAJUSTE] PRIMARY KEY CLUSTERED 
(
	[idTipoAjuste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOUSUARIO]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOUSUARIO](
	[idTipoUsuario] [int] IDENTITY(100,100) NOT NULL,
	[nombreTipo] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TIPOUSUARIO] PRIMARY KEY CLUSTERED 
(
	[idTipoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRASIEGOE]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRASIEGOE](
	[nTrasiego] [int] IDENTITY(100,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[usuario] [int] NOT NULL,
	[sucursal] [int] NOT NULL,
 CONSTRAINT [PK_TRASIEGO] PRIMARY KEY CLUSTERED 
(
	[nTrasiego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRASIEGOSSAL]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRASIEGOSSAL](
	[ntrasiegosalida] [int] IDENTITY(100,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[usuario] [int] NOT NULL,
	[sucursal] [int] NOT NULL,
 CONSTRAINT [PK_TRASIEGOSSAL] PRIMARY KEY CLUSTERED 
(
	[ntrasiegosalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[idUsuario] [int] IDENTITY(200,1) NOT NULL,
	[nombreUsuario] [varchar](100) NOT NULL,
	[nick] [varchar](50) NOT NULL,
	[contraUsuario] [varchar](50) NOT NULL,
	[tipoUsuario] [int] NOT NULL,
	[sucursal] [int] NOT NULL,
	[estado] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[nVenta] [int] IDENTITY(1,1) NOT NULL,
	[fechaVenta] [datetime] NULL,
	[usuario] [int] NULL,
	[total] [decimal](18, 2) NULL,
	[documento] [bigint] NULL,
	[idSucursal] [int] NULL,
	[cliente] [varchar](20) NULL,
	[efectivo] [decimal](18, 2) NULL,
	[tarjeta] [decimal](18, 2) NULL,
	[autorizacion] [varchar](50) NULL,
 CONSTRAINT [PK_VENTA] PRIMARY KEY CLUSTERED 
(
	[nVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTASELIMINADAS]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTASELIMINADAS](
	[nVenta] [int] NOT NULL,
	[fechaVenta] [date] NULL,
	[usuario] [int] NULL,
	[total] [decimal](10, 2) NULL,
	[documento] [bigint] NULL,
	[idSucursal] [int] NULL,
	[cliente] [varchar](20) NULL,
	[efectivo] [decimal](10, 2) NULL,
	[tarjeta] [decimal](10, 2) NULL,
	[autorizacion] [varchar](50) NULL,
	[fechElim] [date] NULL,
 CONSTRAINT [PK_VENTASELIMINADAS] PRIMARY KEY CLUSTERED 
(
	[nVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[AJUSTE]  WITH CHECK ADD  CONSTRAINT [FK_AJUSTE_SUCURSAL] FOREIGN KEY([sucursal])
REFERENCES [dbo].[SUCURSAL] ([idSucursal])
GO
ALTER TABLE [dbo].[AJUSTE] CHECK CONSTRAINT [FK_AJUSTE_SUCURSAL]
GO
ALTER TABLE [dbo].[AJUSTE]  WITH CHECK ADD  CONSTRAINT [FK_AJUSTE_TIPOAJUSTE] FOREIGN KEY([tipoAjuste])
REFERENCES [dbo].[TIPOAJUSTE] ([idTipoAjuste])
GO
ALTER TABLE [dbo].[AJUSTE] CHECK CONSTRAINT [FK_AJUSTE_TIPOAJUSTE]
GO
ALTER TABLE [dbo].[AJUSTE]  WITH CHECK ADD  CONSTRAINT [FK_AJUSTE_USUARIO] FOREIGN KEY([usuario])
REFERENCES [dbo].[USUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[AJUSTE] CHECK CONSTRAINT [FK_AJUSTE_USUARIO]
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA_FORMAPAGO] FOREIGN KEY([formaPago])
REFERENCES [dbo].[FORMAPAGO] ([idFormaPago])
GO
ALTER TABLE [dbo].[COMPRA] CHECK CONSTRAINT [FK_COMPRA_FORMAPAGO]
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA_PROVEEDOR] FOREIGN KEY([proveedor])
REFERENCES [dbo].[PROVEEDOR] ([idProveedor])
GO
ALTER TABLE [dbo].[COMPRA] CHECK CONSTRAINT [FK_COMPRA_PROVEEDOR]
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA_SUCURSAL] FOREIGN KEY([sucursal])
REFERENCES [dbo].[SUCURSAL] ([idSucursal])
GO
ALTER TABLE [dbo].[COMPRA] CHECK CONSTRAINT [FK_COMPRA_SUCURSAL]
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA_USUARIO] FOREIGN KEY([usuario])
REFERENCES [dbo].[USUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[COMPRA] CHECK CONSTRAINT [FK_COMPRA_USUARIO]
GO
ALTER TABLE [dbo].[CUENTAXPAGAR]  WITH CHECK ADD  CONSTRAINT [FK_CUENTAXPAGAR_COMPRA] FOREIGN KEY([idCompra])
REFERENCES [dbo].[COMPRA] ([nCompra])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUENTAXPAGAR] CHECK CONSTRAINT [FK_CUENTAXPAGAR_COMPRA]
GO
ALTER TABLE [dbo].[CUENTAXPAGAR]  WITH CHECK ADD  CONSTRAINT [FK_CUENTAXPAGAR_ESTADOCXP] FOREIGN KEY([estado])
REFERENCES [dbo].[ESTADOCXP] ([idEstadoCXP])
GO
ALTER TABLE [dbo].[CUENTAXPAGAR] CHECK CONSTRAINT [FK_CUENTAXPAGAR_ESTADOCXP]
GO
ALTER TABLE [dbo].[CUENTAXPAGAR]  WITH CHECK ADD  CONSTRAINT [FK_CUENTAXPAGAR_PROVEEDOR] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[PROVEEDOR] ([idProveedor])
GO
ALTER TABLE [dbo].[CUENTAXPAGAR] CHECK CONSTRAINT [FK_CUENTAXPAGAR_PROVEEDOR]
GO
ALTER TABLE [dbo].[DETAJUSTE]  WITH CHECK ADD  CONSTRAINT [FK_DETAJUSTE_AJUSTE] FOREIGN KEY([najuste])
REFERENCES [dbo].[AJUSTE] ([nAjuste])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETAJUSTE] CHECK CONSTRAINT [FK_DETAJUSTE_AJUSTE]
GO
ALTER TABLE [dbo].[DETAJUSTE]  WITH CHECK ADD  CONSTRAINT [FK_DETAJUSTE_PRODUCTO] FOREIGN KEY([producto])
REFERENCES [dbo].[PRODUCTO] ([idProducto])
GO
ALTER TABLE [dbo].[DETAJUSTE] CHECK CONSTRAINT [FK_DETAJUSTE_PRODUCTO]
GO
ALTER TABLE [dbo].[DETALLECOMPRA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLECOMPRA_COMPRA] FOREIGN KEY([nCompra])
REFERENCES [dbo].[COMPRA] ([nCompra])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLECOMPRA] CHECK CONSTRAINT [FK_DETALLECOMPRA_COMPRA]
GO
ALTER TABLE [dbo].[DETALLECOMPRA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLECOMPRA_PRODUCTO] FOREIGN KEY([producto])
REFERENCES [dbo].[PRODUCTO] ([idProducto])
GO
ALTER TABLE [dbo].[DETALLECOMPRA] CHECK CONSTRAINT [FK_DETALLECOMPRA_PRODUCTO]
GO
ALTER TABLE [dbo].[DETALLECXP]  WITH CHECK ADD  CONSTRAINT [FK_DETALLECXP_CUENTAXPAGAR] FOREIGN KEY([idCuenta])
REFERENCES [dbo].[CUENTAXPAGAR] ([idCuenta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLECXP] CHECK CONSTRAINT [FK_DETALLECXP_CUENTAXPAGAR]
GO
ALTER TABLE [dbo].[DETALLEVENTA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEVENTA_PRODUCTO] FOREIGN KEY([producto])
REFERENCES [dbo].[PRODUCTO] ([idProducto])
GO
ALTER TABLE [dbo].[DETALLEVENTA] CHECK CONSTRAINT [FK_DETALLEVENTA_PRODUCTO]
GO
ALTER TABLE [dbo].[DETALLEVENTA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEVENTA_VENTA] FOREIGN KEY([nVenta])
REFERENCES [dbo].[VENTA] ([nVenta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLEVENTA] CHECK CONSTRAINT [FK_DETALLEVENTA_VENTA]
GO
ALTER TABLE [dbo].[DETENTRADAXT]  WITH CHECK ADD  CONSTRAINT [FK_DETENTRADAXT_PRODUCTO] FOREIGN KEY([producto])
REFERENCES [dbo].[PRODUCTO] ([idProducto])
GO
ALTER TABLE [dbo].[DETENTRADAXT] CHECK CONSTRAINT [FK_DETENTRADAXT_PRODUCTO]
GO
ALTER TABLE [dbo].[DETENTRADAXT]  WITH CHECK ADD  CONSTRAINT [FK_DETENTRADAXT_TRASIEGOE] FOREIGN KEY([nentraxtrasiego])
REFERENCES [dbo].[TRASIEGOE] ([nTrasiego])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETENTRADAXT] CHECK CONSTRAINT [FK_DETENTRADAXT_TRASIEGOE]
GO
ALTER TABLE [dbo].[DETENTRADAXTRASLADO]  WITH CHECK ADD  CONSTRAINT [FK_DETENTRADAXTRASLADO_ENTXTRASLADO] FOREIGN KEY([nentrxtrasld])
REFERENCES [dbo].[ENTXTRASLADO] ([nEXTraslado])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETENTRADAXTRASLADO] CHECK CONSTRAINT [FK_DETENTRADAXTRASLADO_ENTXTRASLADO]
GO
ALTER TABLE [dbo].[DETENTRADAXTRASLADO]  WITH CHECK ADD  CONSTRAINT [FK_DETENTRADAXTRASLADO_PRODUCTO] FOREIGN KEY([producto])
REFERENCES [dbo].[PRODUCTO] ([idProducto])
GO
ALTER TABLE [dbo].[DETENTRADAXTRASLADO] CHECK CONSTRAINT [FK_DETENTRADAXTRASLADO_PRODUCTO]
GO
ALTER TABLE [dbo].[DETSALIDAXT]  WITH CHECK ADD  CONSTRAINT [FK_DETSALIDAXT_PRODUCTO] FOREIGN KEY([producto])
REFERENCES [dbo].[PRODUCTO] ([idProducto])
GO
ALTER TABLE [dbo].[DETSALIDAXT] CHECK CONSTRAINT [FK_DETSALIDAXT_PRODUCTO]
GO
ALTER TABLE [dbo].[DETSALIDAXT]  WITH CHECK ADD  CONSTRAINT [FK_DETSALIDAXT_TRASIEGOSSAL] FOREIGN KEY([nsalxtrasiego])
REFERENCES [dbo].[TRASIEGOSSAL] ([ntrasiegosalida])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETSALIDAXT] CHECK CONSTRAINT [FK_DETSALIDAXT_TRASIEGOSSAL]
GO
ALTER TABLE [dbo].[DETSALXTRASLADO]  WITH CHECK ADD  CONSTRAINT [FK_DETSALXTRASLADO_PRODUCTO] FOREIGN KEY([producto])
REFERENCES [dbo].[PRODUCTO] ([idProducto])
GO
ALTER TABLE [dbo].[DETSALXTRASLADO] CHECK CONSTRAINT [FK_DETSALXTRASLADO_PRODUCTO]
GO
ALTER TABLE [dbo].[DETSALXTRASLADO]  WITH CHECK ADD  CONSTRAINT [FK_DETSALXTRASLADO_SALXTRASLADO] FOREIGN KEY([nsalxtraslado])
REFERENCES [dbo].[SALXTRASLADO] ([nSXTraslado])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETSALXTRASLADO] CHECK CONSTRAINT [FK_DETSALXTRASLADO_SALXTRASLADO]
GO
ALTER TABLE [dbo].[ENTXTRASLADO]  WITH CHECK ADD  CONSTRAINT [FK_ENTXTRASLADO_SUCURSAL] FOREIGN KEY([sucursal])
REFERENCES [dbo].[SUCURSAL] ([idSucursal])
GO
ALTER TABLE [dbo].[ENTXTRASLADO] CHECK CONSTRAINT [FK_ENTXTRASLADO_SUCURSAL]
GO
ALTER TABLE [dbo].[ENTXTRASLADO]  WITH CHECK ADD  CONSTRAINT [FK_ENTXTRASLADO_USUARIO] FOREIGN KEY([usuario])
REFERENCES [dbo].[USUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[ENTXTRASLADO] CHECK CONSTRAINT [FK_ENTXTRASLADO_USUARIO]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_SERIEFACTURA] FOREIGN KEY([serie])
REFERENCES [dbo].[SERIEFACTURA] ([idSerie])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_SERIEFACTURA]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_CATEGORIA] FOREIGN KEY([categoria])
REFERENCES [dbo].[CATEGORIA] ([idCategoria])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_CATEGORIA]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_ESTANTERIA] FOREIGN KEY([estanteria])
REFERENCES [dbo].[ESTANTERIA] ([idEstanteria])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_ESTANTERIA]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_PROVEEDOR] FOREIGN KEY([proveedor])
REFERENCES [dbo].[PROVEEDOR] ([idProveedor])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_PROVEEDOR]
GO
ALTER TABLE [dbo].[SALXTRASLADO]  WITH CHECK ADD  CONSTRAINT [FK_SALXTRASLADO_SUCURSAL] FOREIGN KEY([sucursalSalida])
REFERENCES [dbo].[SUCURSAL] ([idSucursal])
GO
ALTER TABLE [dbo].[SALXTRASLADO] CHECK CONSTRAINT [FK_SALXTRASLADO_SUCURSAL]
GO
ALTER TABLE [dbo].[SALXTRASLADO]  WITH CHECK ADD  CONSTRAINT [FK_SALXTRASLADO_USUARIO] FOREIGN KEY([usuario])
REFERENCES [dbo].[USUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[SALXTRASLADO] CHECK CONSTRAINT [FK_SALXTRASLADO_USUARIO]
GO
ALTER TABLE [dbo].[SERIEFACTURA]  WITH CHECK ADD  CONSTRAINT [FK_SERIEFACTURA_SUCURSAL] FOREIGN KEY([sucursal])
REFERENCES [dbo].[SUCURSAL] ([idSucursal])
GO
ALTER TABLE [dbo].[SERIEFACTURA] CHECK CONSTRAINT [FK_SERIEFACTURA_SUCURSAL]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_SUCURSAL] FOREIGN KEY([sucursal])
REFERENCES [dbo].[SUCURSAL] ([idSucursal])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_SUCURSAL]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_TIPOUSUARIO] FOREIGN KEY([tipoUsuario])
REFERENCES [dbo].[TIPOUSUARIO] ([idTipoUsuario])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_TIPOUSUARIO]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_CLIENTE] FOREIGN KEY([cliente])
REFERENCES [dbo].[CLIENTE] ([nitCliente])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_CLIENTE]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_SUCURSAL] FOREIGN KEY([idSucursal])
REFERENCES [dbo].[SUCURSAL] ([idSucursal])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_SUCURSAL]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_USUARIO] FOREIGN KEY([usuario])
REFERENCES [dbo].[USUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_USUARIO]
GO
/****** Object:  StoredProcedure [dbo].[detAjustes]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[detAjustes] 
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DT.ndetajuste, DT.producto, P.dProducto, DT.cantidad, P.costo, (DT.cantidad * P.costo) as Subtotal FROM DETAJUSTE DT
	INNER JOIN PRODUCTO P
	ON DT.producto = P.idProducto
	WHERE najuste = @suc
	ORDER BY ndetajuste ASC
END



GO
/****** Object:  StoredProcedure [dbo].[getAjustes]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getAjustes] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT A.nAjuste, A.fecha, S.nombreSuc, A.usuario, A.concepto, A.total, TA.tipoAjuste FROM AJUSTE A
	INNER JOIN SUCURSAL S ON A.sucursal = S.idSucursal
	INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste
	ORDER BY A.fecha DESC
END



GO
/****** Object:  StoredProcedure [dbo].[getCompras]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getCompras] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT nCompra, fechaC, U.nombreUsuario, total, documento, S.nombreSuc, P.rzProveedor, F.foraPago, ISNULL(fechaPago, '') as fechaPago FROM COMPRA C
	INNER JOIN USUARIO U ON C.usuario = U.idUsuario
	INNER JOIN SUCURSAL S ON C.sucursal = S.idSucursal
	INNER JOIN PROVEEDOR P ON C.proveedor = P.idProveedor
	INNER JOIN FORMAPAGO F ON C.formaPago = F.idFormaPago
	ORDER BY fechaC ASC, nCompra DESC 
END


GO
/****** Object:  StoredProcedure [dbo].[getDetalleCompra]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getDetalleCompra]
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT D.nDetalleC, P.dProducto, D.cantidad, D.precio, D.subtotal FROM DETALLECOMPRA D
	INNER JOIN PRODUCTO P ON producto = P.idProducto
	WHERE nCompra = @suc 
END


GO
/****** Object:  StoredProcedure [dbo].[getDetallesVentas]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getDetallesVentas] 
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DT.nDetalleV, P.dProducto, DT.cantidad, DT.precio, DT.subtotal FROM DETALLEVENTA DT
	INNER JOIN PRODUCTO P
	ON DT.producto = p.idProducto
	WHERE DT.nVenta = @suc
END



GO
/****** Object:  StoredProcedure [dbo].[getDetalleTraslado]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getDetalleTraslado] 
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DST.ndetxtraslado, P.dProducto, DST.cantidad, P.precio, (DST.cantidad * P.precio) as subtotal FROM DETSALXTRASLADO DST
	INNER JOIN PRODUCTO P
	ON DST.producto = P.idProducto
	WHERE nsalxtraslado = @suc
	ORDER BY ndetxtraslado ASC
END
GO
/****** Object:  StoredProcedure [dbo].[getDetalleTrasladoE]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getDetalleTrasladoE] 
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DST.ndetentrxtralad, P.dProducto, DST.cant, P.precio, (DST.cant * P.precio) as subtotal FROM DETENTRADAXTRASLADO DST
	INNER JOIN PRODUCTO P
	ON DST.producto = P.idProducto
	WHERE nentrxtrasld = @suc
	ORDER BY ndetentrxtralad ASC
END

GO
/****** Object:  StoredProcedure [dbo].[getDetalleVentaElim]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getDetalleVentaElim]
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DT.ndetalle, P.dProducto, DT.cantidad, DT.precio, DT.subtotal FROM DETALLEVENTASELIMINADOS DT
	INNER JOIN PRODUCTO P
	ON DT.producto = p.idProducto
	WHERE DT.nVenta = @suc
END


GO
/****** Object:  StoredProcedure [dbo].[getTraslados]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getTraslados] 
	-- Add the parameters for the stored procedure here
	@usuario varchar(50),
	@rolUsuario varchar(50),
	@sucursal int,
	@opt char(1) = null
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @RESPUESTA SMALLINT,
			@QUERY VARCHAR(400),
			@ORDER VARCHAR(50) = 'ORDER BY ST.nSXTraslado DESC',
			@CONDITIONS VARCHAR(200) = 'WHERE U.nombreUsuario = ''' + @usuario + ''' ',
			@CONDITION2 VARCHAR(200) = 'AND ST.recibido = ''N'' '

	SELECT @QUERY = 'SELECT ST.nSXTraslado, ST.fechasxtraslado, S.nombreSuc, U.nombreUsuario FROM SALXTRASLADO ST ' +
	'INNER JOIN SUCURSAL S ' +
	'ON ST.sucursalSalida = S.idSucursal ' +
	'INNER JOIN USUARIO U ' +
	'ON ST.usuario = U.idUsuario '

	IF ISNULL(@opt, 'S') = 'S'
	BEGIN
		IF @rolUsuario IN ('ADMINISTRADOR', 'GERENTE')
			SET @QUERY = @QUERY + @ORDER
		ELSE
			SET @QUERY = @QUERY + @CONDITIONS + @ORDER
	END
	ELSE
	BEGIN
		IF @rolUsuario IN ('ADMINISTRADOR', 'GERENTE')
			SET @QUERY = @QUERY + @CONDITION2 + @ORDER
	END
	--PRINT @QUERY
	EXEC sp_sqlEXEC @QUERY
	
END
GO
/****** Object:  StoredProcedure [dbo].[grabaVenta]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[grabaVenta] 
	@usuario int,
	@sucursal int,
	@cliente varchar(10),
	@documento varchar(20),
	@total decimal(10,2),
	@efectivo decimal(10,2),
	@tarjeta decimal(10,2),
	@autoriza varchar(16),
	@detalles DETALLESVENTA READONLY,
	@MSG VARCHAR(200) = null OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	BEGIN TRANSACTION GRABAVENTA

	DECLARE @FECHAVENTA DATETIME = CAST(GETDATE() AS date), @SEC INT
		
	--GRABA CABECERA
	INSERT INTO VENTA VALUES (@FECHAVENTA, @usuario, @total, @documento, @sucursal, @cliente, @efectivo, @tarjeta, @autoriza)
	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRANSACTION GRABAVENTA
		RETURN -1
	END

	SELECT @SEC = MAX(nVenta) FROM VENTA

	--GRABA DETALLES
	INSERT INTO DETALLEVENTA
	SELECT
		nDetalleVenta,
		@SEC,
		producto,
		cantidad,
		precio,
		subtotal
	FROM @detalles
	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRANSACTION GRABAVENTA
		RETURN -1
	END

	COMMIT TRANSACTION GRABAVENTA
	RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_cortecaja]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_cortecaja] 
	-- Add the parameters for the stored procedure here
	@suc int, @fecha date, @user int = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @FILTROUSUARIO VARCHAR(30) = 'AND V.usuario = ' + CAST(@user AS varchar),
			@QUERY VARCHAR(1000),

			@ANIO INT, @MES INT, @DIA INT

	SET @ANIO = YEAR(@fecha)
	SET @MES = MONTH(@fecha)
	PRINT @MES
	SET @DIA = DAY(@fecha)

	SET @QUERY = 
		'SELECT 
		DV.nDetalleV, 
		DV.nVenta, 
		DV.producto, 
		P.dproducto, 
		DV.cantidad, 
		DV.precio, 
		DV.subtotal, 
		P.costo 
	FROM DETALLEVENTA DV
	INNER JOIN VENTA V
		ON DV.nVenta = V.nVenta
	INNER JOIN PRODUCTO P
		ON DV.producto = P.idProducto
	WHERE V.idSucursal = ' + CAST(@suc AS varchar) + ' AND (YEAR(V.fechaVenta) = ' + CAST(@ANIO AS varchar) + ' AND MONTH(V.fechaVenta) = ' + CAST(@MES AS varchar) + ' AND DAY(V.fechaVenta) = ''' + CAST(@DIA AS varchar) + ''') '
	
	IF @user IS NOT NULL
		SET @QUERY = @QUERY + ' ' + @FILTROUSUARIO

	PRINT @QUERY
	EXEC sp_sqlexec @QUERY

END



GO
/****** Object:  StoredProcedure [dbo].[sp_cortexmes]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cortexmes] 
	-- Add the parameters for the stored procedure here
	@suc int, @mes int, @anio int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DV.nDetalleV, DV.nVenta, DV.producto, P.dproducto, DV.cantidad, DV.precio, DV.subtotal  FROM DETALLEVENTA DV
	INNER JOIN VENTA V
	ON DV.nVenta = V.nVenta
	INNER JOIN PRODUCTO P
	ON DV.producto = P.idProducto
	WHERE V.idSucursal = @suc AND YEAR(V.fechaVenta) = @anio AND MONTH(V.fechaVenta) = @mes
	ORDER BY DV.nVenta ASC
END


GO
/****** Object:  StoredProcedure [dbo].[sp_cortexmesintervalo]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cortexmesintervalo] 
	-- Add the parameters for the stored procedure here
	@suc int, @fi date, @ff date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DV.nDetalleV, DV.nVenta, DV.producto, P.dproducto, DV.cantidad, DV.precio, DV.subtotal  FROM DETALLEVENTA DV
	INNER JOIN VENTA V
	ON DV.nVenta = V.nVenta
	INNER JOIN PRODUCTO P
	ON DV.producto = P.idProducto
	WHERE V.idSucursal = @suc AND (V.fechaVenta BETWEEN @fi AND @ff)
	ORDER BY DV.nVenta ASC
END


GO
/****** Object:  StoredProcedure [dbo].[sp_cortexmesintervalousuario]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cortexmesintervalousuario] 
	-- Add the parameters for the stored procedure here
	@suc int, @fi date, @ff date, @user int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DV.nDetalleV, DV.nVenta, DV.producto, P.dproducto, DV.cantidad, DV.precio, DV.subtotal  FROM DETALLEVENTA DV
	INNER JOIN VENTA V
	ON DV.nVenta = V.nVenta
	INNER JOIN PRODUCTO P
	ON DV.producto = P.idProducto
	WHERE V.idSucursal = @suc AND (V.fechaVenta BETWEEN @fi AND @ff)  AND V.usuario = @user
	ORDER BY DV.nVenta ASC
END


GO
/****** Object:  StoredProcedure [dbo].[sp_cortexmesusuario]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cortexmesusuario] 
	-- Add the parameters for the stored procedure here
	@suc int, @mes int, @anio int, @user int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DV.nDetalleV, DV.nVenta, DV.producto, P.dproducto, DV.cantidad, DV.precio, DV.subtotal  FROM DETALLEVENTA DV
	INNER JOIN VENTA V
	ON DV.nVenta = V.nVenta
	INNER JOIN PRODUCTO P
	ON DV.producto = P.idProducto
	WHERE V.idSucursal = @suc AND YEAR(V.fechaVenta) = @anio AND MONTH(V.fechaVenta) = @mes AND V.usuario = @user
	ORDER BY DV.nVenta ASC
END


GO
/****** Object:  StoredProcedure [dbo].[sp_get_sequence]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- Batch submitted through debugger: SQLQuery3.sql|15|0|C:\Users\Kevin\AppData\Local\Temp\~vs9B19.sql
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_get_sequence] 
	-- Add the parameters for the stored procedure here
	@TABLE_NAME VARCHAR(50),
	@SEQUENCE INT = 0 OUTPUT,
	@MSG VARCHAR(200) = NULL OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @SEC INT
	
	SET @SEC = -1

	IF NOT EXISTS (SELECT 1 FROM SECUENCIAL WHERE SE_TABLE = @TABLE_NAME)
	BEGIN
		SELECT @MSG = 'Error, no existe ' + @TABLE_NAME + ' en la tabla de secuenciales'		
		RETURN @SEC
	END
	
	BEGIN TRANSACTION UPDATESEQ
		UPDATE SECUENCIAL
		SET SE_SEQ = SE_SEQ + 1,
			@SEC = SE_SEQ + 1
		WHERE SE_TABLE = @TABLE_NAME
		IF @@ERROR != 0
		BEGIN
			RETURN -1
			ROLLBACK TRANSACTION UPDATESEQ
		END

		COMMIT TRANSACTION UPDATESEQ
		
	SET @SEQUENCE = @SEC
	RETURN @SEC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getStoc]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getStoc] 
	-- Add the parameters for the stored procedure here
	@suc int, @pro int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
	(ISNULL((SELECT SUM(DC.cantidad) FROM DETALLECOMPRA DC INNER JOIN COMPRA C ON DC.nCompra = C.nCompra WHERE P.idProducto = DC.producto AND C.sucursal = @suc), 0) + 
	ISNULL((SELECT SUM(DET.cant) FROM DETENTRADAXTRASLADO DET INNER JOIN ENTXTRASLADO EXT ON DET.nentrxtrasld = EXT.nEXTraslado WHERE P.idProducto = DET.producto AND EXT.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DEXT.cantidad) FROM DETENTRADAXT DEXT INNER JOIN TRASIEGOE TE ON DEXT.nentraxtrasiego = TE.nTrasiego WHERE P.idProducto = DEXT.producto AND TE.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DA.cantidad) FROM DETAJUSTE DA INNER JOIN AJUSTE A ON DA.najuste = A.nAjuste INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste WHERE P.idProducto = DA.producto AND A.sucursal = @suc AND TA.idTipoAjuste = 100),0)) - 
	(ISNULL((SELECT SUM(DV.cantidad) FROM DETALLEVENTA DV INNER JOIN VENTA V ON DV.nVenta = V.nVenta WHERE P.idProducto = DV.producto AND V.idSucursal = @suc), 0) + 
	ISNULL((SELECT SUM(DST.cantidad) FROM DETSALXTRASLADO DST INNER JOIN SALXTRASLADO SXT ON DST.nsalxtraslado = SXT.nSXTraslado WHERE P.idProducto = DST.producto AND SXT.sucursalSalida = @suc), 0) +
	ISNULL((SELECT SUM(DSXT.cantidad) FROM DETSALIDAXT DSXT INNER JOIN TRASIEGOSSAL SXTRA ON DSXT.nsalxtrasiego = SXTRA.ntrasiegosalida WHERE P.idProducto = DSXT.producto AND SXTRA.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DA.cantidad) FROM DETAJUSTE DA INNER JOIN AJUSTE A ON DA.najuste = A.nAjuste INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste WHERE P.idProducto = DA.producto AND A.sucursal = @suc AND TA.idTipoAjuste = 101),0)) AS Existencia
	FROM PRODUCTO P
	WHERE P.idProducto = @pro
END



GO
/****** Object:  StoredProcedure [dbo].[sp_grabaBitacora]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_grabaBitacora] 
	-- Add the parameters for the stored procedure here
	@NICK VARCHAR(50),
	@ESTACION VARCHAR(50),
	@ACCION VARCHAR(100),
	@MSG VARCHAR(200) = '' OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRAN GRABABITACORA
	DECLARE @SEC INT				
	EXEC @SEC = farmaciahorro_ispro2.dbo.sp_get_sequence 'BITACORA'
	
	IF @SEC = -1
	BEGIN
		SELECT @MSG = 'La tabla no está configurada en la tabla secuenciales'
		ROLLBACK TRAN GRABABITACORA
		RETURN -1
	END

	INSERT INTO BITACORA VALUES (@SEC, GETDATE(), @NICK, @ESTACION, @ACCION)
	IF @@ERROR = 0
	BEGIN
		COMMIT TRAN GRABABITACORA
		RETURN 0
	END
	ELSE
	BEGIN
		ROLLBACK TRAN GRABABITACORA
		RETURN -1
	END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_infoProdCompras]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_infoProdCompras]
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT P.idProducto, p.dProducto,
	(ISNULL((SELECT SUM(DC.cantidad) FROM DETALLECOMPRA DC INNER JOIN COMPRA C ON DC.nCompra = C.nCompra WHERE P.idProducto = DC.producto AND C.sucursal = @suc), 0) + 
	ISNULL((SELECT SUM(DET.cant) FROM DETENTRADAXTRASLADO DET INNER JOIN ENTXTRASLADO EXT ON DET.nentrxtrasld = EXT.nEXTraslado WHERE P.idProducto = DET.producto AND EXT.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DEXT.cantidad) FROM DETENTRADAXT DEXT INNER JOIN TRASIEGOE TE ON DEXT.nentraxtrasiego = TE.nTrasiego WHERE P.idProducto = DEXT.producto AND TE.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DA.cantidad) FROM DETAJUSTE DA INNER JOIN AJUSTE A ON DA.najuste = A.nAjuste INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste WHERE P.idProducto = DA.producto AND A.sucursal = @suc AND TA.idTipoAjuste = 100),0)) - 
	(ISNULL((SELECT SUM(DV.cantidad) FROM DETALLEVENTA DV INNER JOIN VENTA V ON DV.nVenta = V.nVenta WHERE P.idProducto = DV.producto AND V.idSucursal = @suc), 0) + 
	ISNULL((SELECT SUM(DST.cantidad) FROM DETSALXTRASLADO DST INNER JOIN SALXTRASLADO SXT ON DST.nsalxtraslado = SXT.nSXTraslado WHERE P.idProducto = DST.producto AND SXT.sucursalSalida = @suc), 0) +
	ISNULL((SELECT SUM(DSXT.cantidad) FROM DETSALIDAXT DSXT INNER JOIN TRASIEGOSSAL SXTRA ON DSXT.nsalxtrasiego = SXTRA.ntrasiegosalida WHERE P.idProducto = DSXT.producto AND SXTRA.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DA.cantidad) FROM DETAJUSTE DA INNER JOIN AJUSTE A ON DA.najuste = A.nAjuste INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste WHERE P.idProducto = DA.producto AND A.sucursal = @suc AND TA.idTipoAjuste = 101),0)) AS Existencia,
	ISNULL(P.laboratorio, '') as laboratorio, ISNULL(p.presentacion, '') as presentacion, p.costo, PROV.rzProveedor, ISNULL(P.medida, '') as medida
	FROM PRODUCTO P
	INNER JOIN PROVEEDOR PROV
	ON P.proveedor = PROV.idProveedor
END



GO
/****** Object:  StoredProcedure [dbo].[sp_infoProductos]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_infoProductos] 
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT P.idProducto, p.dProducto,
	(ISNULL((SELECT SUM(DC.cantidad) FROM DETALLECOMPRA DC INNER JOIN COMPRA C ON DC.nCompra = C.nCompra WHERE P.idProducto = DC.producto AND C.sucursal = @suc), 0) + 
	ISNULL((SELECT SUM(DET.cant) FROM DETENTRADAXTRASLADO DET INNER JOIN ENTXTRASLADO EXT ON DET.nentrxtrasld = EXT.nEXTraslado WHERE P.idProducto = DET.producto AND EXT.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DEXT.cantidad) FROM DETENTRADAXT DEXT INNER JOIN TRASIEGOE TE ON DEXT.nentraxtrasiego = TE.nTrasiego WHERE P.idProducto = DEXT.producto AND TE.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DA.cantidad) FROM DETAJUSTE DA INNER JOIN AJUSTE A ON DA.najuste = A.nAjuste INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste WHERE P.idProducto = DA.producto AND A.sucursal = @suc AND TA.idTipoAjuste = 100),0)) - 
	(ISNULL((SELECT SUM(DV.cantidad) FROM DETALLEVENTA DV INNER JOIN VENTA V ON DV.nVenta = V.nVenta WHERE P.idProducto = DV.producto AND V.idSucursal = @suc), 0) + 
	ISNULL((SELECT SUM(DST.cantidad) FROM DETSALXTRASLADO DST INNER JOIN SALXTRASLADO SXT ON DST.nsalxtraslado = SXT.nSXTraslado WHERE P.idProducto = DST.producto AND SXT.sucursalSalida = @suc), 0) +
	ISNULL((SELECT SUM(DSXT.cantidad) FROM DETSALIDAXT DSXT INNER JOIN TRASIEGOSSAL SXTRA ON DSXT.nsalxtrasiego = SXTRA.ntrasiegosalida WHERE P.idProducto = DSXT.producto AND SXTRA.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DA.cantidad) FROM DETAJUSTE DA INNER JOIN AJUSTE A ON DA.najuste = A.nAjuste INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste WHERE P.idProducto = DA.producto AND A.sucursal = @suc AND TA.idTipoAjuste = 101),0)) AS Existencia,
	ISNULL(P.laboratorio, '') AS laboratorio, ISNULL(p.presentacion, '') AS presentacion, p.precio, c.categoria, ISNULL(P.medida, '') AS medida, PROV.rzProveedor, ISNULL(P.indicaciones, '') AS indicaciones, ISNULL(P.estanteria, '') AS estanteria, ISNULL(P.barcode, '') AS barcode
	FROM PRODUCTO P
	INNER JOIN CATEGORIA C
	ON P.categoria = C.idCategoria
	INNER JOIN PROVEEDOR PROV
	ON P.proveedor = PROV.idProveedor
	
END



GO
/****** Object:  StoredProcedure [dbo].[sp_RecibeTraslado]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RecibeTraslado] 
	@OPT CHAR(1),
	@IDTRASLADO INT,
	@USUARIOENVIA VARCHAR(50) = NULL OUTPUT,
	@FECHAENVIA DATE  = NULL OUTPUT,
	@SUCENVIA VARCHAR(50)  = NULL OUTPUT,

	@MSG VARCHAR(200) = '' OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @RECIBIDO CHAR(1), @FECHARECIBE DATE, @ENTRADAXTRASLADO INT

	SET @FECHARECIBE = CAST(GETDATE() AS DATE)

	SELECT @RECIBIDO = recibido, @USUARIOENVIA = U.nombreUsuario, 
		   @SUCENVIA = S.nombreSuc,
		   @FECHAENVIA = ST.fechasxtraslado
	FROM SALXTRASLADO ST
	LEFT JOIN USUARIO U ON ST.usuario = U.idUsuario
	LEFT JOIN SUCURSAL S ON ST.sucursalSalida = S.idSucursal
	WHERE nSXTraslado = @IDTRASLADO

	IF ISNULL(@RECIBIDO, 'S') = 'S'
	BEGIN
		SELECT @MSG = 'ESTE TRASLADO YA FUE PROCESADO'
		RETURN -1
	END
	
	IF @OPT = 'B'
	BEGIN
		SELECT @ENTRADAXTRASLADO = nEXTraslado FROM ENTXTRASLADO
		WHERE nSalidaRelacionada = @IDTRASLADO
		IF ISNULL(@ENTRADAXTRASLADO, '') = '' OR @@ROWCOUNT = 0
		BEGIN
			SELECT @MSG = 'NO SE ENCONTRARON COINCIDENCIAS'
			RETURN -1
		END

		SELECT ndetentradaxtraslado, nentradaxtraslado, producto, dProducto, cant 
		FROM DETENTRADAXTRASLADOTEMP
		LEFT JOIN PRODUCTO ON producto = idProducto
		WHERE nentradaxtraslado = @ENTRADAXTRASLADO

	END

	IF @OPT = 'R'
	BEGIN
		SELECT @ENTRADAXTRASLADO = nEXTraslado FROM ENTXTRASLADO
		WHERE nSalidaRelacionada = @IDTRASLADO
		IF ISNULL(@ENTRADAXTRASLADO, '') = '' OR @@ROWCOUNT = 0
		BEGIN
			SELECT @MSG = 'NO SE ENCONTRARON COINCIDENCIAS'
			RETURN -1
		END

		BEGIN TRANSACTION RECIBETRASLADO
		INSERT INTO DETENTRADAXTRASLADO
		SELECT ndetentradaxtraslado, nentradaxtraslado, producto, cant 
		FROM DETENTRADAXTRASLADOTEMP
		WHERE nentradaxtraslado = @ENTRADAXTRASLADO
		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRANSACTION RECIBETRASLADO
			SELECT @MSG = 'HUBO UN ERROR AL RECIBIR EL TRASLADO'
			RETURN -1
		END

		DELETE DETENTRADAXTRASLADOTEMP
		WHERE nentradaxtraslado = @ENTRADAXTRASLADO
		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRANSACTION RECIBETRASLADO
			SELECT @MSG = 'HUBO UN ERROR AL RECIBIR EL TRASLADO'
			RETURN -1
		END

		UPDATE SALXTRASLADO SET recibido = 'S' WHERE nSXTraslado = @IDTRASLADO
		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRANSACTION RECIBETRASLADO
			SELECT @MSG = 'HUBO UN ERROR AL RECIBIR EL TRASLADO'
			RETURN -1
		END

		COMMIT TRAN RECIBETRASLADO
		SELECT @MSG = 'EL PROCESO SE REALIZÓ CORRECTAMENTE'
	END
	
RETURN 0

END


GO
/****** Object:  StoredProcedure [dbo].[sp_validaUsuario]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_validaUsuario] 
	-- Add the parameters for the stored procedure here
	@NICK VARCHAR(40), 
	@PASSWORD VARCHAR(40)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT idUsuario, nombreUsuario, tipoUsuario, T.nombreTipo, sucursal, EU.estadoUsuario 
	FROM USUARIO
	LEFT JOIN TIPOUSUARIO T ON tipoUsuario = T.idTipoUsuario
	LEFT JOIN ESTADOUSUARIO EU ON estado = EU.idEstado
	WHERE nick = @NICK AND contraUsuario = @PASSWORD AND EU.estadoUsuario = 'ACTIVO'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ventasSuc]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ventasSuc] 
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT V.nVenta, V.fechaVenta, V.usuario, V.total, V.documento, SUC.nombreSuc, V.cliente, 
	ISNULL(V.efectivo, 0.0) AS Efectivo, ISNULL(V.tarjeta, 0.0) as Tarjeta, ISNULL(V.autorizacion, '') as Autorizacion
	FROM VENTA V
	INNER JOIN SUCURSAL SUC
	ON V.idSucursal = SUC.idSucursal
	WHERE SUC.idSucursal = @suc
	ORDER BY V.fechaVenta DESC
END



GO
/****** Object:  StoredProcedure [dbo].[sp_ventasxproducto]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ventasxproducto] 
	-- Add the parameters for the stored procedure here
	@suc int, @pro int, @fini date, @ff date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT V.fechaVenta, V.nVenta, DV.cantidad, DV.subtotal, U.nombreUsuario FROM VENTA V
	INNER JOIN DETALLEVENTA DV
	ON V.nVenta = DV.nVenta
	INNER JOIN PRODUCTO P
	ON DV.producto = P.idProducto
	INNER JOIN USUARIO U
	ON V.usuario = U.idUsuario
	WHERE V.idSucursal = @suc AND DV.producto = @pro AND (V.fechaVenta BETWEEN @fini AND @ff)
	ORDER BY V.fechaVenta DESC, V.nVenta DESC
END


GO
/****** Object:  StoredProcedure [dbo].[sp_ventasxuser]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ventasxuser] 
	-- Add the parameters for the stored procedure here
	@suc int, @us int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT V.nVenta, V.fechaVenta, V.usuario, V.total, ISNULL(V.documento, '') as documento, SUC.nombreSuc, V.cliente, 
	ISNULL(V.efectivo, 0.0) AS Efectivo, ISNULL(V.tarjeta, 0.0) as Tarjeta, ISNULL(V.autorizacion, '') as Autorizacion
	FROM VENTA V
	INNER JOIN SUCURSAL SUC
	ON V.idSucursal = SUC.idSucursal
	WHERE SUC.idSucursal = @suc AND V.usuario = @us
	ORDER BY V.fechaVenta DESC
END



GO
/****** Object:  StoredProcedure [dbo].[sp_ventasxusuariofecha]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ventasxusuariofecha] 
	-- Add the parameters for the stored procedure here
	@suc int, @us int, @fecha date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		V.nVenta, 
		V.fechaVenta, 
		V.usuario, V.total, 
		V.documento, 
		SUC.nombreSuc, 
		V.cliente, 
		ISNULL(V.efectivo, 0.0) AS Efectivo, 
		ISNULL(V.tarjeta, 0.0) as Tarjeta, 
		ISNULL(V.autorizacion, '') as Autorizacion
	FROM VENTA V
	INNER JOIN SUCURSAL SUC
	ON V.idSucursal = SUC.idSucursal
	WHERE SUC.idSucursal = @suc AND V.usuario = @us AND V.fechaVenta = @fecha
	ORDER BY V.fechaVenta DESC
END



GO
/****** Object:  StoredProcedure [dbo].[sp_vercxp]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_vercxp] 
	-- Add the parameters for the stored procedure here
	@rz varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Consulta que muestra las CXP pendientes o insolventes
	SELECT idCuenta, ISNULL(concepto, ''), fechaInicio, fechaLimite, totalCuenta, saldoCuenta, estado, E.estadoCXP, C.idProveedor, p.rzProveedor, ISNULL(P.nitProveedor, ''), idCompra FROM CUENTAXPAGAR C
	INNER JOIN ESTADOCXP E
	ON estado = E.idEstadoCXP
	INNER JOIN PROVEEDOR P
	ON C.idProveedor = P.idProveedor
	WHERE C.estado = 200 and p.rzProveedor = @rz
END



GO
/****** Object:  StoredProcedure [dbo].[sp_vercxpxmes]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_vercxpxmes] 
	-- Add the parameters for the stored procedure here
	@anio int, @mes int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Consulta que muestra las CXP pendientes o insolventes
	SELECT idCuenta, ISNULL(concepto, ''), fechaInicio, fechaLimite, totalCuenta, saldoCuenta, estado, E.estadoCXP, C.idProveedor, p.rzProveedor, P.nitProveedor, idCompra FROM CUENTAXPAGAR C
	INNER JOIN ESTADOCXP E
	ON estado = E.idEstadoCXP
	INNER JOIN PROVEEDOR P
	ON C.idProveedor = P.idProveedor
	WHERE C.estado = 200 AND YEAR(fechaLimite) = @anio AND MONTH(fechaLimite) = @mes
END



GO
/****** Object:  StoredProcedure [dbo].[sp_verDetallesCxP]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_verDetallesCxP]
	-- Add the parameters for the stored procedure here
	@cuenta int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM DETALLECXP
	WHERE idCuenta = @cuenta
END



GO
/****** Object:  StoredProcedure [dbo].[ventasdiariassuc]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ventasdiariassuc] 
	-- Add the parameters for the stored procedure here
	@suc int, @fecha date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT V.nVenta, V.fechaVenta, V.usuario, V.total, V.documento, SUC.nombreSuc, V.cliente, 
	ISNULL(V.efectivo, 0.0) AS Efectivo, ISNULL(V.tarjeta, 0.0) as Tarjeta, ISNULL(V.autorizacion, '') as Autorizacion
	FROM VENTA V
	INNER JOIN SUCURSAL SUC
	ON V.idSucursal = SUC.idSucursal
	WHERE SUC.idSucursal = @suc AND V.fechaVenta = @fecha
END



GO
/****** Object:  StoredProcedure [dbo].[verinventarioxcat]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[verinventarioxcat] 
	-- Add the parameters for the stored procedure here
	@suc int, @cat int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT P.idProducto, P.dProducto,P.precio, P.costo, P.presentacion, ISNULL(P.medida, '') as medida, ISNULL(P.laboratorio, '') as laboratorio, C.categoria, 
	(ISNULL((SELECT SUM(DC.cantidad) FROM DETALLECOMPRA DC INNER JOIN COMPRA C ON DC.nCompra = C.nCompra WHERE P.idProducto = DC.producto AND C.sucursal = @suc), 0) + 
	ISNULL((SELECT SUM(DET.cant) FROM DETENTRADAXTRASLADO DET INNER JOIN ENTXTRASLADO EXT ON DET.nentrxtrasld = EXT.nEXTraslado WHERE P.idProducto = DET.producto AND EXT.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DEXT.cantidad) FROM DETENTRADAXT DEXT INNER JOIN TRASIEGOE TE ON DEXT.nentraxtrasiego = TE.nTrasiego WHERE P.idProducto = DEXT.producto AND TE.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DA.cantidad) FROM DETAJUSTE DA INNER JOIN AJUSTE A ON DA.najuste = A.nAjuste INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste WHERE P.idProducto = DA.producto AND A.sucursal = @suc AND TA.idTipoAjuste = 100),0)) - 
	(ISNULL((SELECT SUM(DV.cantidad) FROM DETALLEVENTA DV INNER JOIN VENTA V ON DV.nVenta = V.nVenta WHERE P.idProducto = DV.producto AND V.idSucursal = @suc), 0) + 
	ISNULL((SELECT SUM(DST.cantidad) FROM DETSALXTRASLADO DST INNER JOIN SALXTRASLADO SXT ON DST.nsalxtraslado = SXT.nSXTraslado WHERE P.idProducto = DST.producto AND SXT.sucursalSalida = @suc), 0) +
	ISNULL((SELECT SUM(DSXT.cantidad) FROM DETSALIDAXT DSXT INNER JOIN TRASIEGOSSAL SXTRA ON DSXT.nsalxtrasiego = SXTRA.ntrasiegosalida WHERE P.idProducto = DSXT.producto AND SXTRA.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DA.cantidad) FROM DETAJUSTE DA INNER JOIN AJUSTE A ON DA.najuste = A.nAjuste INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste WHERE P.idProducto = DA.producto AND A.sucursal = @suc AND TA.idTipoAjuste = 101),0)) AS Existencia
	FROM PRODUCTO P
	INNER JOIN CATEGORIA C
	ON P.categoria = C.idCategoria
	WHERE C.idCategoria = @cat
END



GO
/****** Object:  StoredProcedure [dbo].[verInventarioxsuc]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[verInventarioxsuc] 
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT P.idProducto, P.dProducto,P.precio, P.costo, P.presentacion, ISNULL(P.medida, '') as medida, ISNULL(PR.rzProveedor, '') as laboratorio, C.categoria, 
	(ISNULL((SELECT SUM(DC.cantidad) FROM DETALLECOMPRA DC INNER JOIN COMPRA C ON DC.nCompra = C.nCompra WHERE P.idProducto = DC.producto AND C.sucursal = @suc), 0) + 
	ISNULL((SELECT SUM(DET.cant) FROM DETENTRADAXTRASLADO DET INNER JOIN ENTXTRASLADO EXT ON DET.nentrxtrasld = EXT.nEXTraslado WHERE P.idProducto = DET.producto AND EXT.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DEXT.cantidad) FROM DETENTRADAXT DEXT INNER JOIN TRASIEGOE TE ON DEXT.nentraxtrasiego = TE.nTrasiego WHERE P.idProducto = DEXT.producto AND TE.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DA.cantidad) FROM DETAJUSTE DA INNER JOIN AJUSTE A ON DA.najuste = A.nAjuste INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste WHERE P.idProducto = DA.producto AND A.sucursal = @suc AND TA.idTipoAjuste = 100),0)) - 
	(ISNULL((SELECT SUM(DV.cantidad) FROM DETALLEVENTA DV INNER JOIN VENTA V ON DV.nVenta = V.nVenta WHERE P.idProducto = DV.producto AND V.idSucursal = @suc), 0) + 
	ISNULL((SELECT SUM(DST.cantidad) FROM DETSALXTRASLADO DST INNER JOIN SALXTRASLADO SXT ON DST.nsalxtraslado = SXT.nSXTraslado WHERE P.idProducto = DST.producto AND SXT.sucursalSalida = @suc), 0) +
	ISNULL((SELECT SUM(DSXT.cantidad) FROM DETSALIDAXT DSXT INNER JOIN TRASIEGOSSAL SXTRA ON DSXT.nsalxtrasiego = SXTRA.ntrasiegosalida WHERE P.idProducto = DSXT.producto AND SXTRA.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DA.cantidad) FROM DETAJUSTE DA INNER JOIN AJUSTE A ON DA.najuste = A.nAjuste INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste WHERE P.idProducto = DA.producto AND A.sucursal = @suc AND TA.idTipoAjuste = 101),0)) AS Existencia
	FROM PRODUCTO P
	INNER JOIN CATEGORIA C
	ON P.categoria = C.idCategoria
	INNER JOIN PROVEEDOR PR
	ON P.proveedor = PR.idProveedor
	ORDER BY P.idProducto ASC
END



GO
/****** Object:  StoredProcedure [dbo].[verInventarioxsucfecha]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[verInventarioxsucfecha] 
	-- Add the parameters for the stored procedure here
	@suc int, @fecha date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT P.idProducto, P.dProducto, P.precio, P.costo, P.presentacion, ISNULL(P.medida, '') as medida, ISNULL(PR.rzProveedor, '') as laboratorio, C.categoria, 
	(ISNULL((SELECT SUM(DC.cantidad) FROM DETALLECOMPRA DC INNER JOIN COMPRA C ON DC.nCompra = C.nCompra WHERE P.idProducto = DC.producto AND C.sucursal = @suc AND C.fechaC <= @fecha), 0) + 
	ISNULL((SELECT SUM(DET.cant) FROM DETENTRADAXTRASLADO DET INNER JOIN ENTXTRASLADO EXT ON DET.nentrxtrasld = EXT.nEXTraslado WHERE P.idProducto = DET.producto AND EXT.sucursal = @suc AND EXT.fecha <= @fecha), 0) +
	ISNULL((SELECT SUM(DEXT.cantidad) FROM DETENTRADAXT DEXT INNER JOIN TRASIEGOE TE ON DEXT.nentraxtrasiego = TE.nTrasiego WHERE P.idProducto = DEXT.producto AND TE.sucursal = @suc AND TE.fecha <= @fecha), 0) +
	ISNULL((SELECT SUM(DA.cantidad) FROM DETAJUSTE DA INNER JOIN AJUSTE A ON DA.najuste = A.nAjuste INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste WHERE P.idProducto = DA.producto AND A.sucursal = @suc AND TA.idTipoAjuste = 100 AND A.fecha <= @fecha),0)) - 
	(ISNULL((SELECT SUM(DV.cantidad) FROM DETALLEVENTA DV INNER JOIN VENTA V ON DV.nVenta = V.nVenta WHERE P.idProducto = DV.producto AND V.idSucursal = @suc AND V.fechaVenta <= @fecha), 0) + 
	ISNULL((SELECT SUM(DST.cantidad) FROM DETSALXTRASLADO DST INNER JOIN SALXTRASLADO SXT ON DST.nsalxtraslado = SXT.nSXTraslado WHERE P.idProducto = DST.producto AND SXT.sucursalSalida = @suc AND SXT.fechasxtraslado <= @fecha), 0) +
	ISNULL((SELECT SUM(DSXT.cantidad) FROM DETSALIDAXT DSXT INNER JOIN TRASIEGOSSAL SXTRA ON DSXT.nsalxtrasiego = SXTRA.ntrasiegosalida WHERE P.idProducto = DSXT.producto AND SXTRA.sucursal = @suc AND SXTRA.fecha <= @fecha), 0) +
	ISNULL((SELECT SUM(DA.cantidad) FROM DETAJUSTE DA INNER JOIN AJUSTE A ON DA.najuste = A.nAjuste INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste WHERE P.idProducto = DA.producto AND A.sucursal = @suc AND TA.idTipoAjuste = 101 AND A.fecha <= @fecha),0)) AS Existencia
	FROM PRODUCTO P
	INNER JOIN CATEGORIA C
	ON P.categoria = C.idCategoria
	INNER JOIN PROVEEDOR PR
	ON P.proveedor = PR.idProveedor
	ORDER BY P.idProducto
END


GO
/****** Object:  StoredProcedure [dbo].[verprodsstockmin]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[verprodsstockmin] 
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT T.* FROM(SELECT P.idProducto, P.dProducto, P.stockmin, P.laboratorio, PRO.rzProveedor, P.presentacion, P.medida,
	(ISNULL((SELECT SUM(DC.cantidad) FROM DETALLECOMPRA DC INNER JOIN COMPRA C ON DC.nCompra = C.nCompra WHERE P.idProducto = DC.producto AND C.sucursal = @suc), 0) + 
	ISNULL((SELECT SUM(DET.cant) FROM DETENTRADAXTRASLADO DET INNER JOIN ENTXTRASLADO EXT ON DET.nentrxtrasld = EXT.nEXTraslado WHERE P.idProducto = DET.producto AND EXT.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DEXT.cantidad) FROM DETENTRADAXT DEXT INNER JOIN TRASIEGOE TE ON DEXT.nentraxtrasiego = TE.nTrasiego WHERE P.idProducto = DEXT.producto AND TE.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DA.cantidad) FROM DETAJUSTE DA INNER JOIN AJUSTE A ON DA.najuste = A.nAjuste INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste WHERE P.idProducto = DA.producto AND A.sucursal = @suc AND TA.idTipoAjuste = 100),0)) - 
	(ISNULL((SELECT SUM(DV.cantidad) FROM DETALLEVENTA DV INNER JOIN VENTA V ON DV.nVenta = V.nVenta WHERE P.idProducto = DV.producto AND V.idSucursal = @suc), 0) + 
	ISNULL((SELECT SUM(DST.cantidad) FROM DETSALXTRASLADO DST INNER JOIN SALXTRASLADO SXT ON DST.nsalxtraslado = SXT.nSXTraslado WHERE P.idProducto = DST.producto AND SXT.sucursalSalida = @suc), 0) +
	ISNULL((SELECT SUM(DSXT.cantidad) FROM DETSALIDAXT DSXT INNER JOIN TRASIEGOSSAL SXTRA ON DSXT.nsalxtrasiego = SXTRA.ntrasiegosalida WHERE P.idProducto = DSXT.producto AND SXTRA.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DA.cantidad) FROM DETAJUSTE DA INNER JOIN AJUSTE A ON DA.najuste = A.nAjuste INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste WHERE P.idProducto = DA.producto AND A.sucursal = @suc AND TA.idTipoAjuste = 101),0)) AS Existencia
	FROM PRODUCTO P INNER JOIN PROVEEDOR PRO
	ON P.proveedor = PRO.idProveedor) AS T
	WHERE T.stockmin > T.Existencia
END



GO
/****** Object:  StoredProcedure [dbo].[verVentasEliminadas]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[verVentasEliminadas]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT V.nVenta, V.fechaVenta, V.usuario, V.total, V.documento, SUC.nombreSuc, V.cliente, 
	ISNULL(V.efectivo, 0.0) AS Efectivo, ISNULL(V.tarjeta, 0.0) as Tarjeta, ISNULL(V.autorizacion, '') as Autorizacion, V.fechElim
	FROM VENTASELIMINADAS V
	INNER JOIN SUCURSAL SUC
	ON V.idSucursal = SUC.idSucursal
	ORDER BY V.fechaVenta DESC
END


GO
/****** Object:  Trigger [dbo].[TR_updateCxP]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_updateCxP] 
   ON  [dbo].[COMPRA]
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	UPDATE CUENTAXPAGAR
	SET totalCuenta = (SELECT total FROM COMPRA WHERE nCompra = D.nCompra), saldoCuenta = (SELECT total FROM COMPRA WHERE nCompra = D.nCompra) FROM CUENTAXPAGAR CXP
	INNER JOIN (SELECT * FROM INSERTED D) D
	ON D.nCompra = CXP.idCompra 
END

GO
ALTER TABLE [dbo].[COMPRA] ENABLE TRIGGER [TR_updateCxP]
GO
/****** Object:  Trigger [dbo].[TR_actualizartotalBorrarC]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_actualizartotalBorrarC]
   ON  [dbo].[DETALLECOMPRA]
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	UPDATE COMPRA
	SET total = ISNULL((SELECT SUM(subtotal) FROM DETALLECOMPRA WHERE nCompra = D.nCompra), 0.0) FROM COMPRA V
	INNER JOIN (SELECT * FROM DELETED D) D
	ON D.nCompra = V.nCompra
END

GO
ALTER TABLE [dbo].[DETALLECOMPRA] ENABLE TRIGGER [TR_actualizartotalBorrarC]
GO
/****** Object:  Trigger [dbo].[TR_updateTotalActualizarC]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_updateTotalActualizarC] 
   ON  [dbo].[DETALLECOMPRA] 
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	UPDATE COMPRA
	SET total = ISNULL((SELECT SUM(subtotal) FROM DETALLECOMPRA WHERE nCompra = D.nCompra), 0.0) FROM COMPRA V
	INNER JOIN (SELECT * FROM INSERTED D) D
	ON D.nCompra = V.nCompra
END
GO
ALTER TABLE [dbo].[DETALLECOMPRA] ENABLE TRIGGER [TR_updateTotalActualizarC]
GO
/****** Object:  Trigger [dbo].[TR_actualizartotalBorrar]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_actualizartotalBorrar]
   ON  [dbo].[DETALLEVENTA]
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	INSERT INTO DETALLEVENTASELIMINADOS
	SELECT *, GETDATE() FROM DELETED;
	UPDATE VENTA
	SET total = ISNULL((SELECT SUM(subtotal) FROM DETALLEVENTA WHERE nVenta = D.nVenta), 0.0) FROM VENTA V
	INNER JOIN (SELECT * FROM DELETED D) D
	ON D.nVenta = V.nVenta
END

GO
ALTER TABLE [dbo].[DETALLEVENTA] ENABLE TRIGGER [TR_actualizartotalBorrar]
GO
/****** Object:  Trigger [dbo].[TR_updateTotalActualizar]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_updateTotalActualizar] 
   ON  [dbo].[DETALLEVENTA] 
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	UPDATE VENTA
	SET total = ISNULL((SELECT SUM(subtotal) FROM DETALLEVENTA WHERE nVenta = D.nVenta), 0.0) FROM VENTA V
	INNER JOIN (SELECT * FROM INSERTED D) D
	ON D.nVenta = V.nVenta
END

GO
ALTER TABLE [dbo].[DETALLEVENTA] ENABLE TRIGGER [TR_updateTotalActualizar]
GO
/****** Object:  Trigger [dbo].[TR_actualizarDetalle]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_actualizarDetalle] 
   ON  [dbo].[DETSALXTRASLADO] 
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	UPDATE DETENTRADAXTRASLADO SET cant = (SELECT cantidad FROM INSERTED)
	WHERE ndetentrxtralad = (SELECT ndetxtraslado FROM INSERTED) AND nentrxtrasld =(SELECT nsalxtraslado FROM INSERTED)
END

GO
ALTER TABLE [dbo].[DETSALXTRASLADO] ENABLE TRIGGER [TR_actualizarDetalle]
GO
/****** Object:  Trigger [dbo].[TR_eliminarTraslado]    Script Date: 12/2/2024 6:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_eliminarTraslado] 
   ON  [dbo].[DETSALXTRASLADO] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	DELETE FROM DETENTRADAXTRASLADO WHERE ndetentrxtralad = (SELECT D.ndetxtraslado FROM DELETED D) 
	AND nentrxtrasld = (SELECT D.nsalxtraslado FROM DELETED D)
END

GO
ALTER TABLE [dbo].[DETSALXTRASLADO] DISABLE TRIGGER [TR_eliminarTraslado]
GO
/****** Object:  Trigger [dbo].[historialVentas]    Script Date: 12/2/2024 6:47:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[historialVentas] 
   ON  [dbo].[VENTA] AFTER DELETE
   
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	INSERT INTO VENTASELIMINADAS SELECT *, GETDATE() FROM DELETED
END
GO
ALTER TABLE [dbo].[VENTA] ENABLE TRIGGER [historialVentas]
GO
USE [master]
GO
