USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[getTraslados]    Script Date: 07/03/2025 11:59:44 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getTraslados] 
	-- Add the parameters for the stored procedure here
	@usuario varchar(50),
	@rolUsuario varchar(50),
	@sucursal int,
	@opt char(1) = null
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @RESPUESTA SMALLINT,
			@QUERY VARCHAR(400),
			@ORDER VARCHAR(50) = 'ORDER BY ST.nSXTraslado DESC',
			@CONDITIONS VARCHAR(200) = 'WHERE U.nombreUsuario = ''' + @usuario + ''' ',
			@CONDITION2 VARCHAR(200) = 'AND ST.recibido = ''N'' '

	SELECT @QUERY = 'SELECT ST.nSXTraslado, ST.fechasxtraslado, S.nombreSuc, U.nombreUsuario FROM SALXTRASLADO ST ' +
	'INNER JOIN SUCURSAL S ' +
	'ON ST.sucursalSalida = S.idSucursal ' +
	'INNER JOIN USUARIO U ' +
	'ON ST.usuario = U.idUsuario '

	IF ISNULL(@opt, 'S') = 'S'
	BEGIN
		IF @rolUsuario IN ('ADMINISTRADOR', 'GERENTE')
			SET @QUERY = @QUERY + @ORDER
		ELSE
			SET @QUERY = @QUERY + @CONDITIONS + @ORDER
	END
	ELSE
	BEGIN
		IF @rolUsuario IN ('ADMINISTRADOR', 'GERENTE')
			SET @QUERY = @QUERY + @CONDITION2 + @ORDER
	END
	--PRINT @QUERY
	EXEC sp_sqlEXEC @QUERY
	
END
GO
