USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[grabaVenta]    Script Date: 07/03/2025 11:59:44 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[grabaVenta] 
	@usuario int,
	@sucursal int,
	@cliente varchar(10),
	@documento varchar(20),
	@total decimal(10,2),
	@efectivo decimal(10,2),
	@tarjeta decimal(10,2),
	@autoriza varchar(16),
	@detalles DETALLESVENTA READONLY,
	@MSG VARCHAR(200) = null OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	BEGIN TRANSACTION GRABAVENTA

	DECLARE @FECHAVENTA DATETIME = CAST(GETDATE() AS date), @SEC INT
		
	--GRABA CABECERA
	INSERT INTO VENTA VALUES (@FECHAVENTA, @usuario, @total, @documento, @sucursal, @cliente, @efectivo, @tarjeta, @autoriza)
	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRANSACTION GRABAVENTA
		RETURN -1
	END

	SELECT @SEC = MAX(nVenta) FROM VENTA

	--GRABA DETALLES
	INSERT INTO DETALLEVENTA
	SELECT
		nDetalleVenta,
		@SEC,
		producto,
		cantidad,
		precio,
		subtotal
	FROM @detalles
	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRANSACTION GRABAVENTA
		RETURN -1
	END

	COMMIT TRANSACTION GRABAVENTA
	RETURN 0
END
GO
