USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[getCompras]    Script Date: 07/03/2025 11:59:44 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getCompras] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT nCompra, fechaC, U.nombreUsuario, total, documento, S.nombreSuc, P.rzProveedor, F.foraPago, ISNULL(fechaPago, '') as fechaPago FROM COMPRA C
	INNER JOIN USUARIO U ON C.usuario = U.idUsuario
	INNER JOIN SUCURSAL S ON C.sucursal = S.idSucursal
	INNER JOIN PROVEEDOR P ON C.proveedor = P.idProveedor
	INNER JOIN FORMAPAGO F ON C.formaPago = F.idFormaPago
	ORDER BY fechaC ASC, nCompra DESC 
END


GO
