USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_infoProdCompras]    Script Date: 07/03/2025 11:59:44 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_infoProdCompras]
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT P.idProducto, p.dProducto,
	(ISNULL((SELECT SUM(DC.cantidad) FROM DETALLECOMPRA DC INNER JOIN COMPRA C ON DC.nCompra = C.nCompra WHERE P.idProducto = DC.producto AND C.sucursal = @suc), 0) + 
	ISNULL((SELECT SUM(DET.cant) FROM DETENTRADAXTRASLADO DET INNER JOIN ENTXTRASLADO EXT ON DET.nentrxtrasld = EXT.nEXTraslado WHERE P.idProducto = DET.producto AND EXT.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DEXT.cantidad) FROM DETENTRADAXT DEXT INNER JOIN TRASIEGOE TE ON DEXT.nentraxtrasiego = TE.nTrasiego WHERE P.idProducto = DEXT.producto AND TE.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DA.cantidad) FROM DETAJUSTE DA INNER JOIN AJUSTE A ON DA.najuste = A.nAjuste INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste WHERE P.idProducto = DA.producto AND A.sucursal = @suc AND TA.idTipoAjuste = 100),0)) - 
	(ISNULL((SELECT SUM(DV.cantidad) FROM DETALLEVENTAS DV INNER JOIN VENTAS V ON DV.nVenta = V.nVenta WHERE P.idProducto = DV.producto AND V.idSucursal = @suc), 0) + 
	ISNULL((SELECT SUM(DST.cantidad) FROM DETSALXTRASLADO DST INNER JOIN SALXTRASLADO SXT ON DST.nsalxtraslado = SXT.nSXTraslado WHERE P.idProducto = DST.producto AND SXT.sucursalSalida = @suc), 0) +
	ISNULL((SELECT SUM(DSXT.cantidad) FROM DETSALIDAXT DSXT INNER JOIN TRASIEGOSSAL SXTRA ON DSXT.nsalxtrasiego = SXTRA.ntrasiegosalida WHERE P.idProducto = DSXT.producto AND SXTRA.sucursal = @suc), 0) +
	ISNULL((SELECT SUM(DA.cantidad) FROM DETAJUSTE DA INNER JOIN AJUSTE A ON DA.najuste = A.nAjuste INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste WHERE P.idProducto = DA.producto AND A.sucursal = @suc AND TA.idTipoAjuste = 101),0)) AS Existencia,
	ISNULL(P.laboratorio, '') as laboratorio, ISNULL(p.presentacion, '') as presentacion, p.costo, PROV.rzProveedor, ISNULL(P.medida, '') as medida
	FROM PRODUCTOS P
	INNER JOIN PROVEEDOR PROV
	ON P.proveedor = PROV.idProveedor
END



GO
