USE db_ab10ba_kbarreradev
GO
/****** Object:  StoredProcedure [dbo].[sp_cortecaja]    Script Date: 10/03/2025 07:52:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[sp_cortecaja] 
	-- Add the parameters for the stored procedure here
	@suc int, @fecha date, @user int = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @FILTROUSUARIO VARCHAR(30) = 'AND V.usuario = ' + CAST(@user AS varchar),
			@QUERY VARCHAR(1000),

			@ANIO INT, @MES INT, @DIA INT

	SET @ANIO = YEAR(@fecha)
	SET @MES = MONTH(@fecha)
	PRINT @MES
	SET @DIA = DAY(@fecha)

	SET @QUERY = 
		'SELECT 
		DV.nDetalleV, 
		DV.nVenta, 
		DV.producto, 
		P.dproducto, 
		DV.cantidad, 
		DV.precio, 
		DV.subtotal, 
		P.costo 
	FROM DETALLEVENTAS DV
	INNER JOIN VENTAS V
		ON DV.nVenta = V.nVenta
	INNER JOIN PRODUCTOS P
		ON DV.producto = P.idProducto
	WHERE V.idSucursal = ' + CAST(@suc AS varchar) + ' AND (YEAR(V.fechaVenta) = ' + CAST(@ANIO AS varchar) + ' AND MONTH(V.fechaVenta) = ' + CAST(@MES AS varchar) + ' AND DAY(V.fechaVenta) = ''' + CAST(@DIA AS varchar) + ''') '
	
	IF @user IS NOT NULL
		SET @QUERY = @QUERY + ' ' + @FILTROUSUARIO

	PRINT @QUERY
	EXEC sp_sqlexec @QUERY

END



GO
