USE db_ab10ba_kbarreradev
GO
/****** Object:  StoredProcedure [dbo].[ventasdiariassuc]    Script Date: 10/03/2025 07:52:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[ventasdiariassuc] 
	-- Add the parameters for the stored procedure here
	@suc int, @fecha date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT V.nVenta, V.fechaVenta, V.usuario, V.total, V.documento, SUC.nombreSuc, V.cliente, 
	ISNULL(V.efectivo, 0.0) AS Efectivo, ISNULL(V.tarjeta, 0.0) as Tarjeta, ISNULL(V.autorizacion, '') as Autorizacion
	FROM VENTAS V
	INNER JOIN SUCURSAL SUC
	ON V.idSucursal = SUC.idSucursal
	WHERE SUC.idSucursal = @suc AND cast(V.fechaVenta as date) = @fecha
END



GO
