USE db_ab10ba_kbarreradev
GO
/****** Object:  StoredProcedure [dbo].[getDetalleTraslado]    Script Date: 10/03/2025 07:52:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[getDetalleTraslado] 
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DST.ndetxtraslado, P.dProducto, DST.cantidad, P.precio, (DST.cantidad * P.precio) as subtotal FROM DETSALXTRASLADO DST
	INNER JOIN PRODUCTOS P
	ON DST.producto = P.idProducto
	WHERE nsalxtraslado = @suc
	ORDER BY ndetxtraslado ASC
END
GO
