USE db_ab10ba_kbarreradev
GO
/****** Object:  StoredProcedure [dbo].[sp_muestraUtilidad]    Script Date: 10/03/2025 07:52:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kevin Barrera
-- Create date: 12/01/2025
-- Description:	Muestra la utilidad de las ventas de una fecha inicial a una final
-- =============================================
ALTER PROCEDURE [dbo].[sp_muestraUtilidad] 
	@fechainicial date,
	@fechafinal date,
	@sucursal int
AS
BEGIN
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	select 
		p.idProducto, 
		p.dProducto, 
		sum(dv.cantidad) as 'Cantidad',
		dv.precio as 'Precio',
		p.costo as 'Costo',
		(sum(dv.cantidad) * dv.precio) as 'totalv',
		(sum(dv.cantidad) * p.costo) as 'totali',
		((sum(dv.cantidad) * dv.precio) - (sum(dv.cantidad) * p.costo)) as 'Utilidad'
	from VENTAS v
	left join DETALLEVENTAS dv on v.nVenta = dv.nVenta
	left join USUARIO u on v.usuario = u.idUsuario
	left join PRODUCTOS p on dv.producto = p.idProducto
	where (cast(v.fechaVenta as date) between @fechainicial and @fechafinal) and v.idSucursal = @sucursal
	group by p.idProducto, p.dProducto, dv.precio, p.costo
	order by dProducto asc
END
GO
