USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[getDetalleTrasladoE]    Script Date: 07/03/2025 11:59:44 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getDetalleTrasladoE] 
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DST.ndetentrxtralad, P.dProducto, DST.cant, P.precio, (DST.cant * P.precio) as subtotal FROM DETENTRADAXTRASLADO DST
	INNER JOIN PRODUCTOS P
	ON DST.producto = P.idProducto
	WHERE nentrxtrasld = @suc
	ORDER BY ndetentrxtralad ASC
END

GO
