USE db_ab10ba_kbarreradev
GO
/****** Object:  StoredProcedure [dbo].[verInventarioxsuc]    Script Date: 10/03/2025 07:52:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[verInventarioxsuc] 
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @QUERY NVARCHAR(2000)

	SET @QUERY =
	'SELECT P.idProducto, P.dProducto, P.precio, P.costo, P.presentacion, ISNULL(P.medida, '''') as medida, ISNULL(PR.rzProveedor, '''') as laboratorio, C.categoria, 
	E.suc_' + CAST(10001 AS VARCHAR) +
	' AS Existencia FROM PRODUCTOS P
	INNER JOIN CATEGORIA C ON P.categoria = C.idCategoria
	INNER JOIN PROVEEDOR PR ON P.proveedor = PR.idProveedor
	INNER JOIN EXISTENCIAS E ON P.idProducto = E.idProducto
	ORDER BY P.idProducto ASC'

	EXEC sp_executesql @QUERY

    -- Insert statements for procedure here
	--SELECT P.idProducto, P.dProducto,P.precio, P.costo, P.presentacion, ISNULL(P.medida, '') as medida, ISNULL(PR.rzProveedor, '') as laboratorio, C.categoria, 
	--(ISNULL((SELECT SUM(DC.cantidad) FROM DETALLECOMPRA DC INNER JOIN COMPRA C ON DC.nCompra = C.nCompra WHERE P.idProducto = DC.producto AND C.sucursal = @suc), 0) + 
	--ISNULL((SELECT SUM(DET.cant) FROM DETENTRADAXTRASLADO DET INNER JOIN ENTXTRASLADO EXT ON DET.nentrxtrasld = EXT.nEXTraslado WHERE P.idProducto = DET.producto AND EXT.sucursal = @suc), 0) +
	--ISNULL((SELECT SUM(DEXT.cantidad) FROM DETENTRADAXT DEXT INNER JOIN TRASIEGOE TE ON DEXT.nentraxtrasiego = TE.nTrasiego WHERE P.idProducto = DEXT.producto AND TE.sucursal = @suc), 0) +
	--ISNULL((SELECT SUM(DA.cantidad) FROM DETAJUSTE DA INNER JOIN AJUSTE A ON DA.najuste = A.nAjuste INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste WHERE P.idProducto = DA.producto AND A.sucursal = @suc AND TA.idTipoAjuste = 100),0)) - 
	--(ISNULL((SELECT SUM(DV.cantidad) FROM DETALLEVENTAS DV INNER JOIN VENTAS V ON DV.nVenta = V.nVenta WHERE P.idProducto = DV.producto AND V.idSucursal = @suc), 0) + 
	--ISNULL((SELECT SUM(DST.cantidad) FROM DETSALXTRASLADO DST INNER JOIN SALXTRASLADO SXT ON DST.nsalxtraslado = SXT.nSXTraslado WHERE P.idProducto = DST.producto AND SXT.sucursalSalida = @suc), 0) +
	--ISNULL((SELECT SUM(DSXT.cantidad) FROM DETSALIDAXT DSXT INNER JOIN TRASIEGOSSAL SXTRA ON DSXT.nsalxtrasiego = SXTRA.ntrasiegosalida WHERE P.idProducto = DSXT.producto AND SXTRA.sucursal = @suc), 0) +
	--ISNULL((SELECT SUM(DA.cantidad) FROM DETAJUSTE DA INNER JOIN AJUSTE A ON DA.najuste = A.nAjuste INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste WHERE P.idProducto = DA.producto AND A.sucursal = @suc AND TA.idTipoAjuste = 101),0)) AS Existencia
	--FROM PRODUCTOS P
	--INNER JOIN CATEGORIA C
	--ON P.categoria = C.idCategoria
	--INNER JOIN PROVEEDOR PR
	--ON P.proveedor = PR.idProveedor
	--ORDER BY P.idProducto ASC
END



GO
