USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_vercxpxmes]    Script Date: 07/03/2025 11:59:44 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_vercxpxmes] 
	-- Add the parameters for the stored procedure here
	@anio int, @mes int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--Consulta que muestra las CXP pendientes o insolventes
	SELECT idCuenta, ISNULL(concepto, ''), fechaInicio, fechaLimite, totalCuenta, saldoCuenta, estado, E.estadoCXP, C.idProveedor, p.rzProveedor, P.nitProveedor, idCompra FROM CUENTAXPAGAR C
	INNER JOIN ESTADOCXP E
	ON estado = E.idEstadoCXP
	INNER JOIN PROVEEDOR P
	ON C.idProveedor = P.idProveedor
	WHERE C.estado = 200 AND YEAR(fechaLimite) = @anio AND MONTH(fechaLimite) = @mes
END



GO
