USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_mantAperturasCajas]    Script Date: 07/03/2025 11:59:44 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kevin Fernando Barrera Reyes
-- Create date: 31-12-20242
-- Description:	Mantenimiento de aperturas y cierres de cajas para cuadres
-- =============================================
CREATE PROCEDURE [dbo].[sp_mantAperturasCajas] 
	@opt CHAR(1),
	@msg VARCHAR(200) OUTPUT,
	@rc INT OUTPUT,
	@usuario INT = 0,
	@saldoinicial DECIMAL(10,2) = 0 OUTPUT,
	@sucursal INT = 0,
	@codempleado INT = 0,

	@totalfisico DECIMAL(10,2) = 0 OUTPUT,
	@diferencia DECIMAL(10,2) = 0 OUTPUT,
	@totalsistema DECIMAL(10,2) = 0 OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @idCaja INT
	DECLARE @FECHAGT DATETIME = DATEADD(HOUR, 2, GETDATE()),
			@inicial DECIMAL(10,2), @inicialmasfisico DECIMAL(10,2), @totsistema DECIMAL(10,2),
			@dif DECIMAL(10,2)
	
	BEGIN TRANSACTION MANTCAJAS
	IF @opt = 'B'
	BEGIN
		SELECT 
			idTurno 'Código',
			U.nick 'Usuario',
			fechaApertura 'Fecha inicio',
			fechaCierre 'Fecha cierre',
			saldoInicial 'Cant. Inicial',
			totalSistema 'Cant. Sistema',
			totalFisico 'Cant. Física',
			diferencia 'Diferencia',
			S.nombreSuc 'Sucursal'
		FROM APERTURACAJAS A
		LEFT JOIN USUARIO U ON A.idUsuario = U.idUsuario
		LEFT JOIN SUCURSAL S ON A.sucursal = S.idSucursal
		WHERE A.estado = 'C'
		ORDER BY A.fechaCierre DESC
		IF @@ROWCOUNT = 0
		BEGIN
			SELECT @msg = 'NO SE ENCONTRARON REGISTROS'
			SELECT @rc = -1
		END

		GOTO FINALIZA
	END

	IF @opt = 'A'
	BEGIN
		SELECT @idCaja = idTurno
			  --,@inicial = saldoInicial
		FROM APERTURACAJAS WHERE estado = 'A' AND sucursal = @sucursal AND codempleado = @codempleado
		IF ISNULL(@idCaja, '') <> '' AND @opt = 'A'
		BEGIN
			SELECT @rc = -1
			SELECT @msg = 'YA EXISTE UNA CAJA ABIERTA PARA ESTA SUCURSAL'
			ROLLBACK TRAN MANTCAJAS
			RETURN @rc 
		END

		DECLARE @SEC INT				
		EXEC @SEC = farmaciahorro_ispro2.dbo.sp_get_sequence 'APERTURACAJAS'
		
		IF @SEC = -1
		BEGIN
			SELECT @MSG = 'La tabla no está configurada en la tabla secuenciales'
			ROLLBACK TRAN MANTCAJAS
			SET @rc = -1
			RETURN @rc
		END

		SET @codempleado = CAST(@codempleado AS INT)
		IF NOT EXISTS(SELECT TOP 1 1 FROM USUARIO WHERE idUsuario = @codempleado) OR @codempleado IS NULL
		BEGIN
			SELECT @MSG = 'EL CODIGO DEL EMPLEADO ES INCORRECTO'
			SELECT @rc = -2
			ROLLBACK TRANSACTION MANTCAJAS
			RETURN @rc
		END

		INSERT INTO APERTURACAJAS VALUES (@SEC, @usuario, @FECHAGT, @saldoinicial, 'A', NULL, NULL, NULL, NULL, @sucursal, @codempleado)
		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRANSACTION MANTCAJAS
			SET @rc = -1
			SELECT @MSG = 'HUBO UN ERROR AL GRABAR EL REGISTRO'
			RETURN @rc
		END

		GOTO FINALIZA
	END

	IF @opt = 'C'
	BEGIN
		SELECT @idCaja = idTurno
			  ,@inicial = saldoInicial
		FROM APERTURACAJAS WHERE estado = 'A' AND sucursal = @sucursal AND codempleado = @codempleado
		IF ISNULL(@idCaja, '') = '' AND @opt = 'C'
		BEGIN
			SELECT @rc = -1
			SELECT @msg = 'NO EXISTE UNA CAJA ABIERTA PARA ESTA SUCURSAL'
			ROLLBACK TRAN MANTCAJAS
			RETURN @rc 
		END

		SELECT @saldoinicial = ISNULL(@inicial, 0)
		SELECT @totSistema = SUM(total) FROM VENTA WHERE turno = @idCaja AND idSucursal = @sucursal
		SELECT @totalSistema = ISNULL(@totSistema, 0)

		SELECT @inicialmasfisico = (@inicial + @totalsistema)
		SELECT @dif = @totalfisico - @inicialmasfisico
		
		UPDATE APERTURACAJAS
		SET estado = 'C',
			fechaCierre = @FECHAGT,
			totalSistema = @totSistema,
			totalFisico = @totalfisico,
			diferencia = @dif
		WHERE idTurno = @idCaja AND sucursal = @sucursal AND codempleado = @codempleado
		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRANSACTION MANTCAJAS
			SET @rc = -1
			SELECT @MSG = 'HUBO UN ERROR AL CERRAR LA CAJA'
			RETURN @rc
		END
				
		GOTO FINALIZA
	END

	FINALIZA:
		COMMIT TRANSACTION MANTCAJAS
		SELECT @rc = 0
		SELECT @MSG = 'LA TRANSACCIÓN SE REALIZÓ CORRECTAMENTE'
		SELECT @totalsistema = @totalsistema
		SELECT @diferencia = @dif
		RETURN @rc
END
GO
