USE db_ab10ba_kbarreradev
GO
/****** Object:  StoredProcedure [dbo].[sp_cortexmesusuario]    Script Date: 10/03/2025 07:52:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_cortexmesusuario] 
	-- Add the parameters for the stored procedure here
	@suc int, @mes int, @anio int, @user int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DV.nDetalleV, DV.nVenta, DV.producto, P.dproducto, DV.cantidad, DV.precio, DV.subtotal  FROM DETALLEVENTAS DV
	INNER JOIN VENTAS V
	ON DV.nVenta = V.nVenta
	INNER JOIN PRODUCTOS P
	ON DV.producto = P.idProducto
	WHERE V.idSucursal = @suc AND YEAR(V.fechaVenta) = @anio AND MONTH(V.fechaVenta) = @mes AND V.usuario = @user
	ORDER BY DV.nVenta ASC
END


GO
