USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_validaUsuario]    Script Date: 23/09/2026 04:26:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_validaUsuario] 
    @NICK VARCHAR(40),
	@SUCURSAL INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.idUsuario,
        u.nombreUsuario,
        u.tipoUsuario,
        T.nombreTipo    AS rolNombre,
        u.sucursal,
        S.nombreSuc       AS sucNombre,
        u.PasswordSalt,
        u.PasswordHash
    FROM dbo.USUARIO u
    LEFT JOIN dbo.TIPOUSUARIO T  ON u.tipoUsuario = T.idTipoUsuario
    LEFT JOIN dbo.SUCURSAL    S  ON u.sucursal     = S.idSucursal
    LEFT JOIN dbo.ESTADOUSUARIO EU ON u.estado     = EU.idEstado
    WHERE u.nick        = @NICK
      AND EU.estadoUsuario = 'ACTIVO'
	  AND (
		T.idTipoUsuario = 100
		OR u.sucursal = @SUCURSAL
		)
END
