USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_ventasSuc]    Script Date: 07/03/2025 11:59:44 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ventasSuc] 
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT V.nVenta, V.fechaVenta, V.usuario, V.total, V.documento, SUC.nombreSuc, V.cliente, 
	ISNULL(V.efectivo, 0.0) AS Efectivo, ISNULL(V.tarjeta, 0.0) as Tarjeta, ISNULL(V.autorizacion, '') as Autorizacion
	FROM VENTAS V
	INNER JOIN SUCURSAL SUC
	ON V.idSucursal = SUC.idSucursal
	WHERE SUC.idSucursal = @suc
	ORDER BY V.fechaVenta DESC
END



GO
