USE db_ab10ba_kbarreradev
GO
/****** Object:  StoredProcedure [dbo].[getDetallesVentas]    Script Date: 10/03/2025 07:52:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[getDetallesVentas] 
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DT.nDetalleV, P.dProducto, DT.cantidad, DT.precio, DT.subtotal FROM DETALLEVENTAS DT
	INNER JOIN PRODUCTOS P
	ON DT.producto = p.idProducto
	WHERE DT.nVenta = @suc
END



GO
