USE db_ab10ba_kbarreradev
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminaVenta]    Script Date: 10/03/2025 07:52:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kevin Fernando Barrera Reyes
-- Create date: 09/03/2025
-- Description:	Objeto encargado de eliminar la venta y sus detalles y guardar en la tabla de log
-- =============================================
CREATE PROCEDURE [dbo].[sp_eliminaVenta] 
	@message VARCHAR(200) = NULL OUTPUT,
	@idVenta INT,
	@nameSucursal VARCHAR(40)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @sucursal INT
	SELECT @sucursal = idSucursal FROM SUCURSAL WHERE nombreSuc = @nameSucursal
	IF ISNULL(@sucursal, '') = ''
	BEGIN
		SELECT @message = 'SUCURSAL NO ENCONTRADA'
		RETURN -1
	END

	BEGIN TRAN ELIMINAVENTA

	--COPIA REGISTRO A TABLA DE LOG
	INSERT INTO VENTASELIMINADAS (nVenta, fechaVenta, usuario, total,documento, idSucursal, cliente, efectivo,tarjeta, autorizacion, codempleado, turno, fechElim)
	SELECT nVenta, fechaVenta, usuario, total,documento, idSucursal, cliente, efectivo,tarjeta, autorizacion, codempleado, turno, GETDATE()
	FROM VENTAS
	WHERE nVenta = @idVenta
	IF @@ROWCOUNT = 0 OR @@ERROR <> 0
	BEGIN
		SELECT @message = 'HUBO UN ERROR AL TRASLADAR LA VENTA A LA TABLA DE LOG'
		ROLLBACK TRAN ELIMINAVENTA
		RETURN -1
	END

	INSERT INTO DETALLEVENTASELIMINADOS (ndetalle, nventa, producto, cantidad, precio, subtotal, felim)
	SELECT nDetalleV, nVenta, producto, cantidad, precio, subtotal, GETDATE() 
	FROM DETALLEVENTAS
	WHERE nVenta = @idVenta
	IF @@ROWCOUNT = 0 OR @@ERROR <> 0
	BEGIN
		SELECT @message = 'HUBO UN ERROR AL TRASLADAR LA VENTA A LA TABLA DE LOG'
		ROLLBACK TRAN ELIMINAVENTA
		RETURN -1
	END

	--ELIMINA REGISTROS DE TABLAS CABECERA DETALLE
	DECLARE @QUERY NVARCHAR(500), 
			@nDetalle SMALLINT,
			@nVenta INT,
			@producto INT, 
			@cantidad INT 
			--@precio DECIMAL(10,2), 
			--@subtotal DECIMAL(10,2)

	DECLARE CURSORDETALLES CURSOR FOR
	SELECT nDetalleV, nVenta, producto, cantidad--, precio, subtotal 
	FROM DETALLEVENTAS
	WHERE nVenta = @idVenta

	OPEN CURSORDETALLES
	FETCH NEXT FROM CURSORDETALLES INTO @nDetalle, @nVenta, @producto, @cantidad--, @precio, @subtotal

	WHILE @@FETCH_STATUS = 0
	BEGIN
		--ELIMINA DETALLES
		DELETE DETALLEVENTAS WHERE nDetalleV = @nDetalle AND nVenta = @nVenta
		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRANSACTION ELIMINAVENTA
			SET @message = 'HUBO UN ERROR AL ELIMINAR EL DETALLE'
			RETURN -1
		END

		SET @QUERY =
		'UPDATE EXISTENCIAS SET suc_' + CAST(@sucursal AS VARCHAR) + ' = suc_' + CAST(@sucursal AS VARCHAR) + ' + ' + CAST(@cantidad AS VARCHAR) + ' WHERE idProducto = ' + CAST(@producto AS VARCHAR) 
	
		EXEC sp_executesql @QUERY
		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRANSACTION ELIMINAVENTA
			SET @message = 'HUBO UN ERROR AL ACTUALIZAR LAS EXISTENCIAS'
			RETURN -1
		END

		FETCH NEXT FROM CURSORDETALLES INTO @nDetalle, @nVenta, @producto, @cantidad--, @precio, @subtotal
	END

	CLOSE CURSORDETALLES
	DEALLOCATE CURSORDETALLES

	DELETE VENTAS WHERE nVenta = @idVenta
	IF @@ROWCOUNT = 0 OR @@ERROR <> 0
	BEGIN
		SELECT @message = 'HUBO UN ERROR AL ELIMINAR EL ENCABEZADO'
		ROLLBACK TRAN ELIMINAVENTA
		RETURN -1
	END

	SELECT @message = 'SE ELIMINÓ LA VENTA CORRECTAMENTE'
	COMMIT TRAN ELIMINAVENTA
	RETURN 0
END
GO
