USE db_ab10ba_kbarreradev
GO
/****** Object:  StoredProcedure [dbo].[getAjustes]    Script Date: 10/03/2025 07:52:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[getAjustes] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT A.nAjuste, A.fecha, S.nombreSuc, A.usuario, A.concepto, A.total, TA.tipoAjuste FROM AJUSTE A
	INNER JOIN SUCURSAL S ON A.sucursal = S.idSucursal
	INNER JOIN TIPOAJUSTE TA ON A.tipoAjuste = TA.idTipoAjuste
	ORDER BY A.fecha DESC
END



GO
