USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_sequence]    Script Date: 07/03/2025 11:59:44 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- Batch submitted through debugger: SQLQuery3.sql|15|0|C:\Users\Kevin\AppData\Local\Temp\~vs9B19.sql
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_get_sequence] 
	-- Add the parameters for the stored procedure here
	@TABLE_NAME VARCHAR(50),
	@SEQUENCE INT = 0 OUTPUT,
	@MSG VARCHAR(200) = NULL OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @SEC INT
	
	SET @SEC = -1

	IF NOT EXISTS (SELECT 1 FROM SECUENCIAL WHERE SE_TABLE = @TABLE_NAME)
	BEGIN
		SELECT @MSG = 'Error, no existe ' + @TABLE_NAME + ' en la tabla de secuenciales'		
		RETURN @SEC
	END
	
	BEGIN TRANSACTION UPDATESEQ
		UPDATE SECUENCIAL
		SET SE_SEQ = SE_SEQ + 1,
			@SEC = SE_SEQ + 1
		WHERE SE_TABLE = @TABLE_NAME
		IF @@ERROR != 0
		BEGIN
			RETURN -1
			ROLLBACK TRANSACTION UPDATESEQ
		END

		COMMIT TRANSACTION UPDATESEQ
		
	SET @SEQUENCE = @SEC
	RETURN @SEC
END
GO
