USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_grabaBitacora]    Script Date: 10/03/2025 07:52:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_grabaBitacora] 
	-- Add the parameters for the stored procedure here
	@NICK VARCHAR(50),
	@ESTACION VARCHAR(50),
	@ACCION VARCHAR(100),
	@MSG VARCHAR(200) = '' OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRAN GRABABITACORA
	DECLARE @SEC INT				
	EXEC @SEC = farmaciahorro_ispro2.dbo.sp_get_sequence 'BITACORA'
	
	IF @SEC = -1
	BEGIN
		SELECT @MSG = 'La tabla no está configurada en la tabla secuenciales'
		ROLLBACK TRAN GRABABITACORA
		RETURN -1
	END

	INSERT INTO BITACORA VALUES (@SEC, GETDATE(), @NICK, @ESTACION, @ACCION)
	IF @@ERROR = 0
	BEGIN
		COMMIT TRAN GRABABITACORA
		RETURN 0
	END
	ELSE
	BEGIN
		ROLLBACK TRAN GRABABITACORA
		RETURN -1
	END
END
GO
