USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[verinventarioxcat]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[verinventarioxcat] 
	-- Add the parameters for the stored procedure here
	@suc int, @cat varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @QUERY NVARCHAR(2000)

	SET @QUERY =
	'SELECT P.idProducto, P.dProducto,P.precio, P.costo, P.presentacion, ISNULL(P.medida, '''') as medida, ISNULL(P.laboratorio, '''') as laboratorio, C.categoria, 
	ISNULL(E.suc_' + CAST(@suc AS VARCHAR) +
	',0) AS Existencia FROM PRODUCTOS P
	INNER JOIN CATEGORIA C ON P.categoria = C.idCategoria
	INNER JOIN EXISTENCIAS E ON P.idProducto = E.idProducto
	WHERE P.laboratorio = ''' + CAST(@cat AS VARCHAR) + ''''

	EXEC sp_executesql @QUERY

END



GO
