USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_ventasxproducto]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ventasxproducto] 
	-- Add the parameters for the stored procedure here
	@suc int, @pro int, @fini date, @ff date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT V.fechaVenta, V.nVenta, DV.cantidad, DV.subtotal, U.nombreUsuario FROM VENTAS V
	INNER JOIN DETALLEVENTAS DV
	ON V.nVenta = DV.nVenta
	INNER JOIN PRODUCTOS P
	ON DV.producto = P.idProducto
	INNER JOIN USUARIO U
	ON V.usuario = U.idUsuario
	WHERE V.idSucursal = @suc AND DV.producto = @pro AND (V.fechaVenta BETWEEN @fini AND @ff)
	ORDER BY V.fechaVenta DESC, V.nVenta DESC
END


GO
