USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_mantEgresos]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kevin Barrera
-- Create date: 13/03/2025
-- Description:	Mantenimiento de egresos por sucursal
-- =============================================
CREATE PROCEDURE [dbo].[sp_mantEgresos] 
	@opcion char(1),
	@msg varchar(200) = '' output,
	@idEgreso int = null,
	@fechaEgreso datetime = null,
	@concepto varchar(100) = null,
	@usuarioRegistra varchar(20) = null,
	@total decimal(10,2) = null,
	@sucursal int = null,
	@categoria int = null
AS
BEGIN
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @SEC int

	if @opcion = 'L'
	begin
		select e.idEgreso, e.fechaEgreso, c.nombreCategoriaEgreso, e.concepto, e.total, e.usuarioRegistra, s.nombreSuc  
		from EGRESOS e
		inner join CATEGORIAEGRESO c on categoria = c.idCategoriaEgreso
		inner join USUARIO u on usuarioRegistra = u.nombreUsuario
		inner join SUCURSAL s on e.sucursal = s.idSucursal
		where e.sucursal = @sucursal and cast(fechaEgreso as date) = cast(@fechaEgreso as date) and e.estado = 1
		order by e.fechaEgreso desc
		if @@ROWCOUNT = 0
			select @msg = 'No se encontraron registros'

		return 0
	end

	begin tran grabaegreso
	if @opcion = 'I'
	begin
		exec @SEC = sp_get_sequence 'EGRESOS'
	
		if @SEC = -1
		begin
			select @msg = 'La tabla no está configurada en la tabla secuenciales'
			rollback tran GRABAVENTA
			return -1
		end

		insert into EGRESOS (idEgreso, fechaEgreso, concepto, usuarioRegistra, total, sucursal, categoria, estado)
		values (@SEC, @fechaEgreso, @concepto, @usuarioRegistra, @total, @sucursal, @categoria, 1)
		if @@ROWCOUNT = 0 or @@ERROR <> 0
		begin
			rollback tran grabaegreso
			select @msg = 'Hubo un error al grabar el registro'
			return -1
		end

		set @msg = 'El registro se guardó correctamente'
		commit tran grabaegreso
		return 0
	end

	if @opcion = 'D'
	begin
		if isnull(@idEgreso,0) = 0 
		begin
			rollback tran grabaegreso
			select @msg = 'Hubo un error al descartar el registro'
			return -1
		end

		update EGRESOS set estado = 0 where idEgreso = @idEgreso
		if @@ROWCOUNT = 0 or @@ERROR <> 0
		begin
			rollback tran grabaegreso
			select @msg = 'Hubo un error al cambiar el estado del registro'
			return -1
		end

		set @msg = 'El registro se descartó correctamente'
		commit tran grabaegreso
		return 0
	end
	
END
GO
