USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[spExistencias]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kevin Barrera
-- Create date: 24072025
-- Description:	Operaciones para generar reporte de existencias
-- =============================================
CREATE PROCEDURE [dbo].[spExistencias] 
	@OPCION int,
	@MSG VARCHAR(100) = NULL OUTPUT,
	@LABORATORIO varchar(70) = NULL,
	@SUCURSAL INT = NULL
AS
BEGIN
	SET NOCOUNT ON;

	IF @OPCION = 1
	BEGIN
		SELECT DISTINCT
		   laboratorio AS NombreLaboratorio
		FROM
		   PRODUCTOS
		WHERE
		   laboratorio IS NOT NULL AND laboratorio != ''
		ORDER BY
		   NombreLaboratorio;
	
		IF @@ROWCOUNT = 0
		BEGIN
			SET @MSG = 'No se encontraron resultados'
		END

		RETURN 0
	END

	IF @OPCION = 2
	BEGIN
		DECLARE @QUERY VARCHAR(200)

		SET @QUERY =
		'SELECT P.idProducto, P.dProducto, ISNULL(E.suc_' + CAST(@SUCURSAL AS VARCHAR) + 
		',0) AS Existencia FROM PRODUCTOS P
		LEFT JOIN EXISTENCIAS E ON P.idProducto = E.idProducto
		WHERE P.laboratorio = ''' + @LABORATORIO + ''''
		
		EXEC @QUERY
		IF @@ROWCOUNT = 0
		BEGIN
			SET @MSG = 'No se encontraron resultados'
		END

		RETURN 0
	END
END
GO
