USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[grabaCompra]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[grabaCompra] 
	@usuario int,
	@sucursal int,
	@documento varchar(20),
	@total decimal(10,2),
	@proveedor int,
	@formapago int,
	@fechapago datetime = null,
	@detalles DETALLESVENTA READONLY,
	@MSG VARCHAR(200) = null OUTPUT,
	@horasDiferencia int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	BEGIN TRANSACTION GRABACOMPRA

	DECLARE @FECHACOMPRA DATETIME = DATEADD(DAY, @horasDiferencia, CAST(GETDATE() AS date)), 
			@SEC INT,
			@NOMBREFP VARCHAR(15),
			@NOMBREPROV VARCHAR(25),
			@NITPROV VARCHAR(15),
			@CONCEPTO VARCHAR(100)

	SELECT @NOMBREPROV = rzProveedor, @NITPROV = nitProveedor FROM PROVEEDOR WHERE idProveedor = @proveedor
	IF @proveedor IS NULL
	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRANSACTION GRABACOMPRA
		RETURN -1
	END

	--GRABA CABECERA
	INSERT INTO COMPRA VALUES (@FECHACOMPRA, @usuario, @total, @documento, @sucursal, @proveedor, @formapago, @fechapago)
	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRANSACTION GRABACOMPRA
		RETURN -1
	END

	SELECT @SEC = MAX(nCompra) FROM COMPRA

	--GRABA DETALLES
	DECLARE @QUERY NVARCHAR(500), @nDetalle SMALLINT, @producto INT, @cantidad INT, @precio DECIMAL(18,2), @subtotal DECIMAL(18,2)
	DECLARE CURSORDETALLES CURSOR FOR
	SELECT nDetalleVenta, producto, cantidad, precio, subtotal FROM @detalles

	OPEN CURSORDETALLES
	FETCH NEXT FROM CURSORDETALLES INTO @nDetalle, @producto, @cantidad, @precio, @subtotal

	WHILE @@FETCH_STATUS = 0
	BEGIN
		--GRABA DETALLES
		INSERT INTO DETALLECOMPRA
		VALUES(
			@nDetalle,
			@SEC,
			@producto,
			@cantidad,
			@precio,
			@subtotal)
		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRANSACTION GRABACOMPRA
			RETURN -1
		END

		SET @QUERY =
		'UPDATE EXISTENCIAS SET suc_' + CAST(@sucursal AS VARCHAR) + ' = ISNULL(suc_' + CAST(@sucursal AS VARCHAR) + ', 0)' + ' + ' + CAST(@cantidad AS VARCHAR) + ' WHERE idProducto = ' + CAST(@producto AS VARCHAR) 
	
		EXEC sp_executesql @QUERY
		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRANSACTION GRABACOMPRA
			RETURN -1
		END

		FETCH NEXT FROM CURSORDETALLES INTO @nDetalle, @producto, @cantidad, @precio, @subtotal
	END

	CLOSE CURSORDETALLES
	DEALLOCATE CURSORDETALLES

	SELECT @NOMBREFP = foraPago FROM FORMAPAGO WHERE idFormaPago = @formapago
	IF ISNULL(@NOMBREFP, '') = ''
	BEGIN
		ROLLBACK TRANSACTION GRABACOMPRA
		RETURN -1
	END

	IF @NOMBREFP <> 'CONTADO'
	BEGIN
		SELECT @SEC = MAX(nCompra) FROM COMPRA
		SELECT @CONCEPTO = 'Por concepto de compra No. ' + CAST(@SEC AS VARCHAR) + ' al cliente: ' + CAST(@NOMBREPROV AS VARCHAR)
		INSERT INTO CUENTAXPAGAR --(concepto, fechaInicio, fechaLimite, totalCuenta, saldoCuenta, estado, idProveedor, idCuenta)
			VALUES (@CONCEPTO, @FECHACOMPRA, @fechapago, @total, @total, 200, @proveedor, @SEC)
		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRANSACTION GRABACOMPRA
			RETURN -1
		END
	END

	COMMIT TRANSACTION GRABACOMPRA
	RETURN 0
END
GO
