USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[getDetalleVentaElim]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getDetalleVentaElim]
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DT.ndetalle, P.dProducto, DT.cantidad, DT.precio, DT.subtotal FROM DETALLEVENTASELIMINADOS DT
	INNER JOIN PRODUCTOS P
	ON DT.producto = p.idProducto
	WHERE DT.nVenta = @suc
END


GO
