USE [farmaciahorro_ispro2]
GO
/****** Object:  UserDefinedTableType [dbo].[DETALLESVENTA]    Script Date: 05/10/2026 10:13:36 a. m. ******/
CREATE TYPE [dbo].[DETALLESVENTA] AS TABLE(
	[nDetalleVenta] [smallint] NOT NULL,
	[producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](18, 2) NOT NULL,
	[subtotal] [decimal](18, 2) NOT NULL
)
GO
