USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[CUENTAXPAGAR]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTAXPAGAR](
	[idCuenta] [int] IDENTITY(1,1) NOT NULL,
	[concepto] [varchar](100) NULL,
	[fechaInicio] [date] NOT NULL,
	[fechaLimite] [date] NOT NULL,
	[totalCuenta] [decimal](10, 2) NOT NULL,
	[saldoCuenta] [decimal](10, 2) NOT NULL,
	[estado] [smallint] NOT NULL,
	[idProveedor] [int] NOT NULL,
	[idCompra] [int] NOT NULL,
 CONSTRAINT [PK_CUENTAXPAGAR] PRIMARY KEY CLUSTERED 
(
	[idCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUENTAXPAGAR]  WITH CHECK ADD  CONSTRAINT [FK_CUENTAXPAGAR_COMPRA] FOREIGN KEY([idCompra])
REFERENCES [dbo].[COMPRA] ([nCompra])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUENTAXPAGAR] CHECK CONSTRAINT [FK_CUENTAXPAGAR_COMPRA]
GO
ALTER TABLE [dbo].[CUENTAXPAGAR]  WITH CHECK ADD  CONSTRAINT [FK_CUENTAXPAGAR_ESTADOCXP] FOREIGN KEY([estado])
REFERENCES [dbo].[ESTADOCXP] ([idEstadoCXP])
GO
ALTER TABLE [dbo].[CUENTAXPAGAR] CHECK CONSTRAINT [FK_CUENTAXPAGAR_ESTADOCXP]
GO
ALTER TABLE [dbo].[CUENTAXPAGAR]  WITH CHECK ADD  CONSTRAINT [FK_CUENTAXPAGAR_PROVEEDOR] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[PROVEEDOR] ([idProveedor])
GO
ALTER TABLE [dbo].[CUENTAXPAGAR] CHECK CONSTRAINT [FK_CUENTAXPAGAR_PROVEEDOR]
GO
