USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[DETSALXTRASLADO]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETSALXTRASLADO](
	[ndetxtraslado] [int] NOT NULL,
	[nsalxtraslado] [int] NOT NULL,
	[producto] [int] NOT NULL,
	[cantidad] [smallint] NOT NULL,
 CONSTRAINT [PK_DETSALXTRASLADO] PRIMARY KEY CLUSTERED 
(
	[ndetxtraslado] ASC,
	[nsalxtraslado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETSALXTRASLADO]  WITH CHECK ADD  CONSTRAINT [FK_DETSALXTRASLADO_PRODUCTOS] FOREIGN KEY([producto])
REFERENCES [dbo].[PRODUCTOS] ([idProducto])
GO
ALTER TABLE [dbo].[DETSALXTRASLADO] CHECK CONSTRAINT [FK_DETSALXTRASLADO_PRODUCTOS]
GO
ALTER TABLE [dbo].[DETSALXTRASLADO]  WITH CHECK ADD  CONSTRAINT [FK_DETSALXTRASLADO_SALXTRASLADO] FOREIGN KEY([nsalxtraslado])
REFERENCES [dbo].[SALXTRASLADO] ([nSXTraslado])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETSALXTRASLADO] CHECK CONSTRAINT [FK_DETSALXTRASLADO_SALXTRASLADO]
GO
/****** Object:  Trigger [dbo].[TR_actualizarDetalle]    Script Date: 05/10/2026 10:13:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_actualizarDetalle] 
   ON  [dbo].[DETSALXTRASLADO] 
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	UPDATE DETENTRADAXTRASLADO SET cant = (SELECT cantidad FROM INSERTED)
	WHERE ndetentrxtralad = (SELECT ndetxtraslado FROM INSERTED) AND nentrxtrasld =(SELECT nsalxtraslado FROM INSERTED)
END

GO
ALTER TABLE [dbo].[DETSALXTRASLADO] ENABLE TRIGGER [TR_actualizarDetalle]
GO
/****** Object:  Trigger [dbo].[TR_eliminarTraslado]    Script Date: 05/10/2026 10:13:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_eliminarTraslado] 
   ON  [dbo].[DETSALXTRASLADO] 
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	DELETE FROM DETENTRADAXTRASLADO WHERE ndetentrxtralad = (SELECT D.ndetxtraslado FROM DELETED D) 
	AND nentrxtrasld = (SELECT D.nsalxtraslado FROM DELETED D)
END

GO
ALTER TABLE [dbo].[DETSALXTRASLADO] DISABLE TRIGGER [TR_eliminarTraslado]
GO
