USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_mantenimientoTraslados]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kevin Barrera
-- Create date: 08/03/2025
-- Description:	Mantenimiento de traslados entre sucursales
-- =============================================
CREATE PROCEDURE [dbo].[sp_mantenimientoTraslados] 
	@message VARCHAR(200) = NULL OUTPUT,
	@fecha DATETIME = NULL,
	@sucursalSalida INT = NULL,
	@usuario INT = NULL,
	@recibido CHAR(1) = NULL,

	@sucursalEntrada INT = NULL,

	@detalles DETALLESVENTA READONLY
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @nSalidaTraslado int,
			@nEntradaTraslado int

	BEGIN TRAN TRASLADOS
	
	--GUARDA CABECERAS
	INSERT INTO SALXTRASLADO (fechasxtraslado, sucursalSalida, usuario, recibido)
	VALUES (@fecha, @sucursalSalida, @usuario, 'N')
	IF @@ERROR <> 0
	BEGIN
		SET @message = 'HUBO UN ERROR AL GUARDAR LA SALIDA DEL TRASLADO.'
		ROLLBACK TRAN TRASLADOS
		RETURN -1
	END

	SELECT @nSalidaTraslado = MAX(nSXTraslado) FROM SALXTRASLADO --@salidaRelacionada
	select @nSalidaTraslado

	INSERT INTO ENTXTRASLADO (fecha, sucursal, usuario, nSalidaRelacionada)
	VALUES (@fecha, @sucursalEntrada, @usuario, @nSalidaTraslado)
	IF @@ERROR <> 0
	BEGIN
		SET @message = 'HUBO UN ERROR AL GUARDAR LA ENTRADA DEL TRASLADO.'
		ROLLBACK TRAN TRASLADOS
		RETURN -1
	END

	SELECT @nEntradaTraslado = MAX(nEXTraslado) FROM ENTXTRASLADO

	--GUARDA DETALLES
	DECLARE @QUERY NVARCHAR(500), @nDetalle SMALLINT, @producto INT, @cantidad INT
	DECLARE CURSORDETALLES CURSOR FOR
	SELECT nDetalleVenta, producto, cantidad FROM @detalles

	OPEN CURSORDETALLES
	FETCH NEXT FROM CURSORDETALLES INTO @nDetalle, @producto, @cantidad

	WHILE @@FETCH_STATUS = 0
	BEGIN
		--GRABA DETALLES SALIDA
		INSERT INTO DETSALXTRASLADO
		VALUES(
			@nDetalle,
			@nSalidaTraslado,
			@producto,
			@cantidad)
		IF @@ERROR <> 0
		BEGIN
			SET @message = 'HUBO UN ERROR AL GUARDAR LOS DETALLES DE LA SALIDA DEL TRASLADO.'
			ROLLBACK TRANSACTION TRASLADOS
			RETURN -1
		END

		SET @QUERY =
		'UPDATE EXISTENCIAS SET suc_' + CAST(@sucursalSalida AS VARCHAR) + ' = suc_' + CAST(@sucursalSalida AS VARCHAR) + ' - ' + CAST(@cantidad AS VARCHAR) + ' WHERE idProducto = ' + CAST(@producto AS VARCHAR) 
	
		EXEC sp_executesql @QUERY
		IF @@ERROR <> 0
		BEGIN
			SET @message = 'HUBO UN ERROR AL ACTUALIZAR LAS EXISTENCIAS'
			ROLLBACK TRANSACTION TRASLADOS
			RETURN -1
		END

		--GRABA DETALLES ENTRADA TEMPORALES
		INSERT INTO DETENTRADAXTRASLADOTEMP (ndetentradaxtraslado, nentradaxtraslado, producto, cant)
		VALUES(
			@nDetalle,
			@nEntradaTraslado,
			@producto,
			@cantidad)
		IF @@ERROR <> 0 OR @@ROWCOUNT = 0
		BEGIN
			SET @message = 'HUBO UN ERROR AL GUARDAR LOS DETALLES DE LA ENTRADA DEL TRASLADO.'
			ROLLBACK TRANSACTION TRASLADOS
			RETURN -1
		END

		FETCH NEXT FROM CURSORDETALLES INTO @nDetalle, @producto, @cantidad
	END --END WHILE

	CLOSE CURSORDETALLES
	DEALLOCATE CURSORDETALLES

	COMMIT TRAN TRASLADOS
	SET @message = 'TRASLADO GRABADO CORRECTAMENTE'
	RETURN 0
END
GO
