USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[DETAJUSTE]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAJUSTE](
	[ndetajuste] [smallint] NOT NULL,
	[najuste] [int] NOT NULL,
	[producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_DETAJUSTE] PRIMARY KEY CLUSTERED 
(
	[ndetajuste] ASC,
	[najuste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETAJUSTE]  WITH CHECK ADD  CONSTRAINT [FK_DETAJUSTE_AJUSTE] FOREIGN KEY([najuste])
REFERENCES [dbo].[AJUSTE] ([nAjuste])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETAJUSTE] CHECK CONSTRAINT [FK_DETAJUSTE_AJUSTE]
GO
ALTER TABLE [dbo].[DETAJUSTE]  WITH CHECK ADD  CONSTRAINT [FK_DETAJUSTE_PRODUCTOS] FOREIGN KEY([producto])
REFERENCES [dbo].[PRODUCTOS] ([idProducto])
GO
ALTER TABLE [dbo].[DETAJUSTE] CHECK CONSTRAINT [FK_DETAJUSTE_PRODUCTOS]
GO
