USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[DETENTRADAXTRASLADO]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETENTRADAXTRASLADO](
	[ndetentrxtralad] [smallint] NOT NULL,
	[nentrxtrasld] [int] NOT NULL,
	[producto] [int] NOT NULL,
	[cant] [smallint] NOT NULL,
 CONSTRAINT [PK_DETENTRADAXTRASLADO] PRIMARY KEY CLUSTERED 
(
	[ndetentrxtralad] ASC,
	[nentrxtrasld] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETENTRADAXTRASLADO]  WITH CHECK ADD  CONSTRAINT [FK_DETENTRADAXTRASLADO_ENTXTRASLADO] FOREIGN KEY([nentrxtrasld])
REFERENCES [dbo].[ENTXTRASLADO] ([nEXTraslado])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETENTRADAXTRASLADO] CHECK CONSTRAINT [FK_DETENTRADAXTRASLADO_ENTXTRASLADO]
GO
ALTER TABLE [dbo].[DETENTRADAXTRASLADO]  WITH CHECK ADD  CONSTRAINT [FK_DETENTRADAXTRASLADO_PRODUCTOS] FOREIGN KEY([producto])
REFERENCES [dbo].[PRODUCTOS] ([idProducto])
GO
ALTER TABLE [dbo].[DETENTRADAXTRASLADO] CHECK CONSTRAINT [FK_DETENTRADAXTRASLADO_PRODUCTOS]
GO
