USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_detalleVale]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_detalleVale]
	@idVale INT
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		D.nDetalle,
		D.producto,
		P.dProducto,
		D.cantidad,
		D.precio,
		D.subtotal,
		D.pagado
	FROM DETALLEVALE D
	INNER JOIN PRODUCTOS P ON D.producto = P.idProducto
	WHERE D.idVale = @idVale
	ORDER BY D.nDetalle
END

GO
