USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_grabaAjuste]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kevin Barrera
-- Create date: 08/03/2025
-- Description:	Encargado de grabar Ajustes integralmente
-- =============================================
CREATE PROCEDURE [dbo].[sp_grabaAjuste] 
	@message VARCHAR(200) = NULL OUTPUT,
	@fecha DATETIME,
	@sucursal INT,
	@usuario INT,
	@concepto VARCHAR(75),
	@total DECIMAL(10,2),
	@tipoAjuste VARCHAR(10),

	@detalles DETALLESVENTA READONLY
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @codTipoAjuste int,
			@nAjuste int
	
	BEGIN TRAN GRABAAJUSTE

	SELECT @codTipoAjuste = idTipoAjuste FROM TIPOAJUSTE WHERE tipoAjuste = @tipoAjuste
	IF ISNULL(@codTipoAjuste,0) = 0 
	BEGIN
		SELECT @message = 'EL TIPO DE AJUSTE ES INVALIDO'
		ROLLBACK TRAN GRABAAJUSTE
		RETURN -1
	END

	--GRABA CABECERA
	INSERT INTO AJUSTE (fecha, sucursal, usuario, concepto, total, tipoAjuste)
	VALUES (@fecha,	@sucursal, @usuario, @concepto,	@total, @codTipoAjuste)
	IF @@ERROR <> 0
	BEGIN
		SELECT @message = 'ERROR AL GRABAR EL AJUSTE'
		ROLLBACK TRAN GRABAAJUSTE
		RETURN -1
	END

	SELECT @nAjuste = MAX(nAjuste) FROM AJUSTE

	DECLARE @QUERY NVARCHAR(500), 
			@nDetalle SMALLINT, 
			@producto INT, 
			@cantidad INT, 
			@precio DECIMAL(10,2), 
			@subtotal DECIMAL(10,2),
			@operacion varchar(3)

	SET @operacion = CASE WHEN @tipoAjuste = 'ENTRADA' THEN ' + ' ELSE ' - ' END;
	DECLARE CURSORDETALLES CURSOR FOR
	SELECT nDetalleVenta, producto, cantidad, precio, subtotal FROM @detalles

	OPEN CURSORDETALLES
	FETCH NEXT FROM CURSORDETALLES INTO @nDetalle, @producto, @cantidad, @precio, @subtotal

	WHILE @@FETCH_STATUS = 0
	BEGIN
		--GRABA DETALLES
		INSERT INTO DETAJUSTE (ndetajuste, najuste,producto, cantidad, precio, subtotal) 
		VALUES (@nDetalle, @nAjuste, @producto, @cantidad, @precio, @subtotal)
		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRANSACTION GRABAAJUSTE
			SET @message = 'HUBO UN ERROR AL GRABAR EL DETALLE'
			RETURN -1
		END

		SET @QUERY =
		'UPDATE EXISTENCIAS SET suc_' + CAST(@sucursal AS VARCHAR) + ' = ISNULL(suc_' + CAST(@sucursal AS VARCHAR) + ', 0) ' + @operacion + CAST(@cantidad AS VARCHAR) + ' WHERE idProducto = ' + CAST(@producto AS VARCHAR) 
	
		EXEC sp_executesql @QUERY
		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRANSACTION GRABAAJUSTE
			SET @message = 'HUBO UN ERROR AL ACTUALIZAR LAS EXISTENCIAS'
			RETURN -1
		END

		FETCH NEXT FROM CURSORDETALLES INTO @nDetalle, @producto, @cantidad, @precio, @subtotal
	END

	CLOSE CURSORDETALLES
	DEALLOCATE CURSORDETALLES

	COMMIT TRANSACTION GRABAAJUSTE
	SELECT @message = 'EL AJUSTE SE REGISTRÓ CORRECTAMENTE'
	RETURN 0
END
GO
