USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[idUsuario] [int] IDENTITY(200,1) NOT NULL,
	[nombreUsuario] [varchar](100) NOT NULL,
	[nick] [varchar](50) NOT NULL,
	[contraUsuario] [varchar](50) NULL,
	[tipoUsuario] [int] NOT NULL,
	[estado] [int] NOT NULL,
	[PasswordSalt] [varbinary](128) NULL,
	[PasswordHash] [varbinary](256) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF_USUARIO_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_TIPOUSUARIO] FOREIGN KEY([tipoUsuario])
REFERENCES [dbo].[TIPOUSUARIO] ([idTipoUsuario])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_TIPOUSUARIO]
GO
