USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[SALXTRASLADO]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALXTRASLADO](
	[nSXTraslado] [int] IDENTITY(1,1) NOT NULL,
	[fechasxtraslado] [date] NOT NULL,
	[sucursalSalida] [int] NOT NULL,
	[usuario] [int] NOT NULL,
	[recibido] [char](1) NULL,
 CONSTRAINT [PK_SALXTRASLADO] PRIMARY KEY CLUSTERED 
(
	[nSXTraslado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SALXTRASLADO]  WITH CHECK ADD  CONSTRAINT [FK_SALXTRASLADO_SUCURSAL] FOREIGN KEY([sucursalSalida])
REFERENCES [dbo].[SUCURSAL] ([idSucursal])
GO
ALTER TABLE [dbo].[SALXTRASLADO] CHECK CONSTRAINT [FK_SALXTRASLADO_SUCURSAL]
GO
ALTER TABLE [dbo].[SALXTRASLADO]  WITH CHECK ADD  CONSTRAINT [FK_SALXTRASLADO_USUARIO] FOREIGN KEY([usuario])
REFERENCES [dbo].[USUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[SALXTRASLADO] CHECK CONSTRAINT [FK_SALXTRASLADO_USUARIO]
GO
