USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[PRECIOS_SUCURSAL]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRECIOS_SUCURSAL](
	[idProducto] [int] NOT NULL,
	[idSucursal] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_PRECIOS_SUCURSAL] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC,
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRECIOS_SUCURSAL]  WITH CHECK ADD  CONSTRAINT [FK_PRECIOS_SUCURSAL_PRODUCTOS] FOREIGN KEY([idProducto])
REFERENCES [dbo].[PRODUCTOS] ([idProducto])
GO
ALTER TABLE [dbo].[PRECIOS_SUCURSAL] CHECK CONSTRAINT [FK_PRECIOS_SUCURSAL_PRODUCTOS]
GO
ALTER TABLE [dbo].[PRECIOS_SUCURSAL]  WITH CHECK ADD  CONSTRAINT [FK_PRECIOS_SUCURSAL_SUCURSAL] FOREIGN KEY([idSucursal])
REFERENCES [dbo].[SUCURSAL] ([idSucursal])
GO
ALTER TABLE [dbo].[PRECIOS_SUCURSAL] CHECK CONSTRAINT [FK_PRECIOS_SUCURSAL_SUCURSAL]
GO
