USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[APERTURACAJAS]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APERTURACAJAS](
	[idTurno] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
	[fechaApertura] [datetime] NOT NULL,
	[saldoInicial] [decimal](10, 2) NULL,
	[estado] [char](1) NULL,
	[fechaCierre] [datetime] NULL,
	[totalSistema] [decimal](10, 2) NULL,
	[totalFisico] [decimal](10, 2) NULL,
	[diferencia] [decimal](10, 2) NULL,
	[sucursal] [int] NOT NULL,
	[codempleado] [int] NULL,
 CONSTRAINT [PK_APERTURACAJAS] PRIMARY KEY CLUSTERED 
(
	[idTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
