USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_consultaVales]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_consultaVales]
	@sucursal	INT = NULL,
	@vendedor	INT = NULL,
	@estado		VARCHAR(10) = NULL
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM (
		SELECT
			V.idVale,
			V.fecha,
			V.fechaVencimiento,
			S.nombreSuc,
			VE.nombre AS nombreVendedor,
			V.total,
			V.saldo,
			CASE
				WHEN V.estado = 'C' THEN 'PAGADO'
				WHEN GETDATE() > V.fechaVencimiento THEN 'VENCIDO'
				ELSE 'PENDIENTE'
			END AS estadoVale
		FROM VALE V
		INNER JOIN VENDEDOR VE ON V.vendedor = VE.idVendedor
		INNER JOIN SUCURSAL S ON V.sucursal = S.idSucursal
		WHERE (ISNULL(@sucursal, 0) = 0 OR V.sucursal = @sucursal)
		  AND (ISNULL(@vendedor, 0) = 0 OR V.vendedor = @vendedor)
	) X
	WHERE ISNULL(@estado, '') = '' OR X.estadoVale = @estado
	ORDER BY X.idVale DESC
END

GO
