USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[LABORATORIO]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LABORATORIO](
	[idLab] [int] IDENTITY(1000,1) NOT NULL,
	[laboratorio] [varchar](100) NOT NULL,
 CONSTRAINT [PK_LABORATORIO] PRIMARY KEY CLUSTERED 
(
	[idLab] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
