USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[DETALLEVALE]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLEVALE](
	[idVale] [int] NOT NULL,
	[nDetalle] [smallint] NOT NULL,
	[producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[pagado] [bit] NOT NULL,
	[idPago] [int] NULL,
 CONSTRAINT [PK_DETALLEVALE] PRIMARY KEY CLUSTERED 
(
	[idVale] ASC,
	[nDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETALLEVALE] ADD  CONSTRAINT [DF_DETALLEVALE_pagado]  DEFAULT ((0)) FOR [pagado]
GO
ALTER TABLE [dbo].[DETALLEVALE]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEVALE_PAGOVALE] FOREIGN KEY([idPago])
REFERENCES [dbo].[PAGOVALE] ([idPago])
GO
ALTER TABLE [dbo].[DETALLEVALE] CHECK CONSTRAINT [FK_DETALLEVALE_PAGOVALE]
GO
ALTER TABLE [dbo].[DETALLEVALE]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEVALE_VALE] FOREIGN KEY([idVale])
REFERENCES [dbo].[VALE] ([idVale])
GO
ALTER TABLE [dbo].[DETALLEVALE] CHECK CONSTRAINT [FK_DETALLEVALE_VALE]
GO
