USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[PAGOVALE]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGOVALE](
	[idPago] [int] IDENTITY(1,1) NOT NULL,
	[idVale] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[usuario] [int] NOT NULL,
	[idTurno] [int] NULL,
 CONSTRAINT [PK_PAGOVALE] PRIMARY KEY CLUSTERED 
(
	[idPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PAGOVALE] ADD  CONSTRAINT [DF_PAGOVALE_fecha]  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[PAGOVALE]  WITH CHECK ADD  CONSTRAINT [FK_PAGOVALE_VALE] FOREIGN KEY([idVale])
REFERENCES [dbo].[VALE] ([idVale])
GO
ALTER TABLE [dbo].[PAGOVALE] CHECK CONSTRAINT [FK_PAGOVALE_VALE]
GO
