USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[DETALLEVENTASELIMINADOS]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLEVENTASELIMINADOS](
	[ndetalle] [int] NULL,
	[nventa] [int] NULL,
	[producto] [int] NULL,
	[cantidad] [int] NULL,
	[precio] [decimal](10, 2) NULL,
	[subtotal] [decimal](10, 2) NULL,
	[felim] [date] NULL
) ON [PRIMARY]
GO
