USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[VALE]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VALE](
	[idVale] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[fechaVencimiento] [datetime] NOT NULL,
	[sucursal] [int] NOT NULL,
	[vendedor] [int] NOT NULL,
	[usuario] [int] NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[saldo] [decimal](10, 2) NOT NULL,
	[estado] [char](1) NOT NULL,
 CONSTRAINT [PK_VALE] PRIMARY KEY CLUSTERED 
(
	[idVale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VALE] ADD  CONSTRAINT [DF_VALE_fecha]  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[VALE] ADD  CONSTRAINT [DF_VALE_estado]  DEFAULT ('P') FOR [estado]
GO
ALTER TABLE [dbo].[VALE]  WITH CHECK ADD  CONSTRAINT [FK_VALE_SUCURSAL] FOREIGN KEY([sucursal])
REFERENCES [dbo].[SUCURSAL] ([idSucursal])
GO
ALTER TABLE [dbo].[VALE] CHECK CONSTRAINT [FK_VALE_SUCURSAL]
GO
ALTER TABLE [dbo].[VALE]  WITH CHECK ADD  CONSTRAINT [FK_VALE_VENDEDORES] FOREIGN KEY([vendedor])
REFERENCES [dbo].[VENDEDOR] ([idVendedor])
GO
ALTER TABLE [dbo].[VALE] CHECK CONSTRAINT [FK_VALE_VENDEDORES]
GO
ALTER TABLE [dbo].[VALE]  WITH CHECK ADD  CONSTRAINT [CK_VALE_estado] CHECK  (([estado]='C' OR [estado]='P'))
GO
ALTER TABLE [dbo].[VALE] CHECK CONSTRAINT [CK_VALE_estado]
GO
