USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_mantCategoriasEgresos]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kevin Barrera
-- Create date: 14/03/2025
-- Description:	Mantenimiento de categorías de egresos
-- =============================================
CREATE PROCEDURE [dbo].[sp_mantCategoriasEgresos]
	@opcion char(1),
	@msg varchar(200) = '' output,
	@idCategoriaEgreso int = null,
	@nombreCategoriaIngreso varchar(20) = null,
	@estado bit = null,
	@incluirInactivos bit = 0
AS
BEGIN
	SET NOCOUNT ON;

	begin try
    -- Insert statements for procedure here
	declare @SEC int, 
			@query nvarchar(1000), 
			@incluyeinactivos varchar(100) = N' where estado = 1', 
			@orderby varchar(100) = N' order by nombreCategoriaEgreso asc',
			@cantregistros int

	if @opcion not in ('L', 'I', 'U')
	begin
		set @msg = 'Opción no parametrizada'
		return -1
	end

	if @opcion = 'L'
	begin
		set @query =
		N'select idCategoriaEgreso, nombreCategoriaEgreso, estado 
		from CATEGORIAEGRESO'

		if @incluirInactivos = 1
			set @query = @query + @orderby
		else
			set @query = @query + @incluyeinactivos + @orderby

		PRINT '@query=' + @query
		EXEC sp_executesql @query
		set @cantregistros = @@ROWCOUNT
		if @@ERROR <> 0
		begin
			select @msg = 'Error al obtener los registros'
			return -1
		end

		select @msg = 'Cantidad de registros: ' + cast(@cantregistros as varchar)
		return 0
	end

	begin tran grabacategoriaegreso
	if @opcion = 'I'
	begin
		exec @SEC = sp_get_sequence 'CATEGORIAEGRESO'
	
		if @SEC = -1
		begin
			select @msg = 'La tabla no está configurada en la tabla secuenciales'
			rollback tran grabacategoriaegreso
			return -1
		end

		insert into CATEGORIAEGRESO (idCategoriaEgreso, nombreCategoriaEgreso, estado)
		values (@SEC, @nombreCategoriaIngreso, 1)
		if @@ERROR <> 0 or @@ROWCOUNT = 0
		begin
			select @msg = 'Hubo un error al grabar el registro'
			rollback tran grabacategoriaegreso
			return -2
		end

		commit tran grabacategoriaegreso
		select @msg = 'El registro se grabó correctamente'
		return 0
	end

	if @opcion ='U'
	begin
		if isnull(@idCategoriaEgreso, 0) = 0
		begin
			select @msg = 'El código de categoría es inválido'
			rollback tran grabacategoriaegreso
			return -1
		end

		update CATEGORIAEGRESO set nombreCategoriaEgreso = @nombreCategoriaIngreso, estado = @estado
		where idCategoriaEgreso = @idCategoriaEgreso
		if @@ERROR <> 0 or @@ROWCOUNT = 0
		begin
			select @msg = 'Hubo un error al actualizar el registro'
			rollback tran grabacategoriaegreso
			return -2
		end

		commit tran grabacategoriaegreso
		select @msg = 'El registro se actualizó correctamente'
		return 0
	end

	end try
	begin catch
		select @msg = ERROR_MESSAGE()
		return -1
	end catch
END
GO
