USE [farmaciahorro_ispro2]
GO
/****** Object:  UserDefinedTableType [dbo].[PRECIOSXSUCURSAL]    Script Date: 05/10/2026 10:13:36 a. m. ******/
CREATE TYPE [dbo].[PRECIOSXSUCURSAL] AS TABLE(
	[idSucursal] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL
)
GO
