USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[nitCliente] [varchar](20) NOT NULL,
	[rzCliente] [varchar](100) NOT NULL,
	[direccionCliente] [varchar](150) NOT NULL,
	[telefonoCliente] [varchar](100) NULL,
	[correoCliente] [varchar](100) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[nitCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
