USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[EGRESOS]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EGRESOS](
	[idEgreso] [int] NOT NULL,
	[fechaEgreso] [datetime] NOT NULL,
	[concepto] [varchar](100) NOT NULL,
	[usuarioRegistra] [varchar](20) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[sucursal] [int] NOT NULL,
	[categoria] [varchar](20) NOT NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK_EGRESOS] PRIMARY KEY CLUSTERED 
(
	[idEgreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
