USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_MantenimientoVendedor]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_MantenimientoVendedor]
(
    @Accion     VARCHAR(20),
    @idVendedor INT = NULL,
    @nombre     VARCHAR(150) = NULL,
    @telefono   VARCHAR(8) = NULL,
    @estado     BIT = NULL,

	@mensaje	VARCHAR(200) = NULL OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY

        /* =====================================================
           LISTAR
           ===================================================== */
        IF UPPER(@Accion) = 'LISTAR'
        BEGIN
            SELECT
                idVendedor,
                nombre,
                telefono,
                estado
            FROM dbo.VENDEDOR
            WHERE @estado IS NULL
               OR estado = @estado
            ORDER BY nombre;

            RETURN 0;
        END;


        /* =====================================================
           CREAR
           ===================================================== */
        IF UPPER(@Accion) = 'CREAR'
        BEGIN

			EXEC @idVendedor = sp_get_sequence 'VENDEDOR'

            IF @idVendedor IS NULL
                THROW 50001, 'El idVendedor no se pudo generar.', 1;
            
			IF NULLIF(LTRIM(RTRIM(@nombre)), '') IS NULL
                THROW 50002, 'El nombre es obligatorio.', 1;

            IF EXISTS (
                SELECT 1
                FROM dbo.VENDEDOR
                WHERE idVendedor = @idVendedor OR nombre = LTRIM(RTRIM(@nombre))
            )
                THROW 50003, 'El idVendedor ya existe.', 1;

            IF @estado IS NULL
                SET @estado = 1;

            INSERT INTO dbo.VENDEDOR
            (
                idVendedor,
                nombre,
                telefono,
                estado
            )
            VALUES
            (
                @idVendedor,
                LTRIM(RTRIM(@nombre)),
                NULLIF(LTRIM(RTRIM(@telefono)), ''),
                @estado
            );

            SELECT
                idVendedor,
                nombre,
                telefono,
                estado
            FROM dbo.VENDEDOR
            WHERE idVendedor = @idVendedor;

            RETURN 0;
        END;


        /* =====================================================
           ACTUALIZAR
           ===================================================== */
        IF UPPER(@Accion) = 'ACTUALIZAR'
        BEGIN

            IF @idVendedor IS NULL
                THROW 50004, 'El idVendedor es obligatorio.', 1;

            IF NULLIF(LTRIM(RTRIM(@nombre)), '') IS NULL
                THROW 50005, 'El nombre es obligatorio.', 1;

            IF NOT EXISTS (
                SELECT 1
                FROM dbo.VENDEDOR
                WHERE idVendedor = @idVendedor
            )
                THROW 50006, 'El vendedor no existe.', 1;

            UPDATE dbo.VENDEDOR
            SET
                nombre = LTRIM(RTRIM(@nombre)),
                telefono = NULLIF(LTRIM(RTRIM(@telefono)), '')
            WHERE idVendedor = @idVendedor;

            SELECT
                idVendedor,
                nombre,
                telefono,
                estado
            FROM dbo.VENDEDOR
            WHERE idVendedor = @idVendedor;

            RETURN 0;
        END;


        /* =====================================================
           DESACTIVAR
           ===================================================== */
        IF UPPER(@Accion) = 'DESACTIVAR'
        BEGIN

            IF @idVendedor IS NULL
                THROW 50007, 'El idVendedor es obligatorio.', 1;

            IF NOT EXISTS (
                SELECT 1
                FROM dbo.VENDEDOR
                WHERE idVendedor = @idVendedor
            )
                THROW 50008, 'El vendedor no existe.', 1;

            UPDATE dbo.VENDEDOR
            SET estado = 0
            WHERE idVendedor = @idVendedor;

            SELECT
                idVendedor,
                nombre,
                telefono,
                estado
            FROM dbo.VENDEDOR
            WHERE idVendedor = @idVendedor;

            RETURN 0;
        END;


        THROW 50009,
              'Accion no valida. Use LISTAR, CREAR, ACTUALIZAR o DESACTIVAR.', 1;

    END TRY

    BEGIN CATCH

		SET @mensaje = 'Hubo un error al grabar el registro: ' + ERROR_MESSAGE();
		
		THROW;
        
		RETURN -1

    END CATCH
END;
GO
