USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_misVentas]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_misVentas]
	@sucursal			INT,
	@vendedor			INT,
	@horasDiferencia	INT = 0
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @hoy DATE = CAST(DATEADD(HOUR, @horasDiferencia, GETDATE()) AS DATE)

	SELECT
		V.nVenta,
		V.fechaVenta,
		P.dProducto,
		DV.cantidad,
		DV.precio,
		DV.subtotal
	FROM VENTAS V
	INNER JOIN DETALLEVENTAS DV ON DV.nVenta = V.nVenta
	INNER JOIN PRODUCTOS P ON DV.producto = P.idProducto
	WHERE V.idSucursal = @sucursal
	  AND V.codempleado = @vendedor
	  AND CAST(V.fechaVenta AS DATE) = @hoy
	ORDER BY V.nVenta DESC, DV.nDetalleV
END

GO
