USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[ESTADOCXP]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOCXP](
	[idEstadoCXP] [smallint] NOT NULL,
	[estadoCXP] [varchar](50) NULL,
 CONSTRAINT [PK_ESTADOCXP] PRIMARY KEY CLUSTERED 
(
	[idEstadoCXP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
