USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_verDetallesCxP]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_verDetallesCxP]
	-- Add the parameters for the stored procedure here
	@cuenta int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM DETALLECXP
	WHERE idCuenta = @cuenta
END



GO
