USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[getDetalleTraslado]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getDetalleTraslado] 
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DST.ndetxtraslado, P.dProducto, DST.cantidad, P.precio, (DST.cantidad * P.precio) as subtotal FROM DETSALXTRASLADO DST
	INNER JOIN PRODUCTOS P
	ON DST.producto = P.idProducto
	WHERE nsalxtraslado = @suc
	ORDER BY ndetxtraslado ASC
END
GO
