USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[idProveedor] [int] IDENTITY(1000,1) NOT NULL,
	[nitProveedor] [varchar](50) NULL,
	[rzProveedor] [varchar](100) NOT NULL,
	[dirProveedor] [varchar](150) NULL,
	[telProveedor] [varchar](50) NULL,
	[mailProveedor] [varchar](75) NULL,
	[contactoProveedor] [varchar](100) NULL,
	[telContacto] [varchar](50) NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
