USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[AJUSTE]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AJUSTE](
	[nAjuste] [int] IDENTITY(100,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[sucursal] [int] NOT NULL,
	[usuario] [int] NOT NULL,
	[concepto] [varchar](150) NULL,
	[total] [decimal](10, 2) NOT NULL,
	[tipoAjuste] [smallint] NOT NULL,
 CONSTRAINT [PK_AJUSTE] PRIMARY KEY CLUSTERED 
(
	[nAjuste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AJUSTE]  WITH CHECK ADD  CONSTRAINT [FK_AJUSTE_SUCURSAL] FOREIGN KEY([sucursal])
REFERENCES [dbo].[SUCURSAL] ([idSucursal])
GO
ALTER TABLE [dbo].[AJUSTE] CHECK CONSTRAINT [FK_AJUSTE_SUCURSAL]
GO
ALTER TABLE [dbo].[AJUSTE]  WITH CHECK ADD  CONSTRAINT [FK_AJUSTE_TIPOAJUSTE] FOREIGN KEY([tipoAjuste])
REFERENCES [dbo].[TIPOAJUSTE] ([idTipoAjuste])
GO
ALTER TABLE [dbo].[AJUSTE] CHECK CONSTRAINT [FK_AJUSTE_TIPOAJUSTE]
GO
ALTER TABLE [dbo].[AJUSTE]  WITH CHECK ADD  CONSTRAINT [FK_AJUSTE_USUARIO] FOREIGN KEY([usuario])
REFERENCES [dbo].[USUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[AJUSTE] CHECK CONSTRAINT [FK_AJUSTE_USUARIO]
GO
