USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_infoProdCompras]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_infoProdCompras]
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @QUERY NVARCHAR(2000)

	SET @QUERY =
	'SELECT P.idProducto, p.dProducto,
	CAST(ISNULL(E.suc_' + CAST(@suc AS VARCHAR) +', 0) AS INT) AS Existencia,
	ISNULL(P.laboratorio, '''') as laboratorio, 
	ISNULL(p.presentacion, '''') as presentacion, 
	p.costo, PROV.rzProveedor, ISNULL(P.medida, '''') as medida
	FROM PRODUCTOS P
	INNER JOIN PROVEEDOR PROV ON P.proveedor = PROV.idProveedor
	INNER JOIN EXISTENCIAS E ON P.idProducto = E.idProducto AND P.estado = 1'

	EXEC sp_executesql @QUERY
END



GO
