USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_ventasxuser]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_ventasxuser] 
	-- Add the parameters for the stored procedure here
	@suc int, @us int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		V.nVenta, 
		V.fechaVenta, 
		V.codempleado as usuario, 
		V.total, 
		ISNULL(V.documento, '') as documento, 
		SUC.nombreSuc, 
		V.cliente, 
		ISNULL(V.efectivo, 0.0) as Efectivo, 
		ISNULL(V.tarjeta, 0.0) as Tarjeta, 
		ISNULL(V.autorizacion, '') as Autorizacion
	FROM VENTAS V
	INNER JOIN SUCURSAL SUC
	ON V.idSucursal = SUC.idSucursal
	WHERE SUC.idSucursal = @suc AND V.codempleado = @us
	ORDER BY V.fechaVenta DESC
END



GO
