USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_infoProductos]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_infoProductos] 
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @QUERY NVARCHAR(2000)

	SET @QUERY =
	'SELECT P.idProducto, p.dProducto,
		CAST(ISNULL(E.suc_' + CAST(@suc AS VARCHAR) +', 0) AS INT) AS Existencia,
		ISNULL(P.laboratorio, '''') AS laboratorio, ISNULL(p.presentacion, '''') AS presentacion, 
		CASE 
		    WHEN PS.precio IS NOT NULL AND PS.precio > 0 THEN PS.precio 
		    ELSE P.precio 
		END AS precio, 
		c.categoria, ISNULL(P.medida, '''') AS medida, 
		PROV.rzProveedor, ISNULL(P.indicaciones, '''') AS indicaciones, ISNULL(P.estanteria, '''') AS estanteria, ISNULL(P.barcode, '''') AS barcode, 
		ISNULL(P.bandera, ''N'')
	FROM PRODUCTOS P
	INNER JOIN CATEGORIA C ON P.categoria = C.idCategoria
	INNER JOIN PROVEEDOR PROV ON P.proveedor = PROV.idProveedor
	INNER JOIN EXISTENCIAS E ON P.idProducto = E.idProducto AND P.estado = 1
	LEFT JOIN PRECIOS_SUCURSAL PS ON P.idProducto = PS.idProducto AND PS.idSucursal = ' + CAST(@suc AS VARCHAR) 
	
	EXEC sp_executesql @QUERY
	
END



GO
