USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[detAjustes]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[detAjustes] 
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DT.ndetajuste, DT.producto, P.dProducto, DT.cantidad, P.costo, (DT.cantidad * P.costo) as Subtotal FROM DETAJUSTE DT
	INNER JOIN PRODUCTOS P
	ON DT.producto = P.idProducto
	WHERE najuste = @suc
	ORDER BY ndetajuste ASC
END



GO
