USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_cortexmesintervalo]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_cortexmesintervalo] 
	-- Add the parameters for the stored procedure here
	@suc int, @fi date, @ff date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DV.nDetalleV, DV.nVenta, DV.producto, P.dproducto, DV.cantidad, DV.precio, DV.subtotal  FROM DETALLEVENTAS DV
	INNER JOIN VENTAS V
	ON DV.nVenta = V.nVenta
	INNER JOIN PRODUCTOS P
	ON DV.producto = P.idProducto
	WHERE V.idSucursal = @suc AND (V.fechaVenta BETWEEN @fi AND @ff)
	ORDER BY DV.nVenta ASC
END


GO
