USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[DETALLECOMPRA]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLECOMPRA](
	[nDetalleC] [smallint] NOT NULL,
	[nCompra] [int] NOT NULL,
	[producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_DETALLECOMPRA] PRIMARY KEY CLUSTERED 
(
	[nDetalleC] ASC,
	[nCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETALLECOMPRA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLECOMPRA_COMPRA] FOREIGN KEY([nCompra])
REFERENCES [dbo].[COMPRA] ([nCompra])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLECOMPRA] CHECK CONSTRAINT [FK_DETALLECOMPRA_COMPRA]
GO
ALTER TABLE [dbo].[DETALLECOMPRA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLECOMPRA_PRODUCTOS] FOREIGN KEY([producto])
REFERENCES [dbo].[PRODUCTOS] ([idProducto])
GO
ALTER TABLE [dbo].[DETALLECOMPRA] CHECK CONSTRAINT [FK_DETALLECOMPRA_PRODUCTOS]
GO
/****** Object:  Trigger [dbo].[TR_actualizartotalBorrarC]    Script Date: 05/10/2026 10:13:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_actualizartotalBorrarC]
   ON  [dbo].[DETALLECOMPRA]
   AFTER DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	UPDATE COMPRA
	SET total = ISNULL((SELECT SUM(subtotal) FROM DETALLECOMPRA WHERE nCompra = D.nCompra), 0.0) FROM COMPRA V
	INNER JOIN (SELECT * FROM DELETED D) D
	ON D.nCompra = V.nCompra
END

GO
ALTER TABLE [dbo].[DETALLECOMPRA] ENABLE TRIGGER [TR_actualizartotalBorrarC]
GO
/****** Object:  Trigger [dbo].[TR_updateTotalActualizarC]    Script Date: 05/10/2026 10:13:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_updateTotalActualizarC] 
   ON  [dbo].[DETALLECOMPRA] 
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	UPDATE COMPRA
	SET total = ISNULL((SELECT SUM(subtotal) FROM DETALLECOMPRA WHERE nCompra = D.nCompra), 0.0) FROM COMPRA V
	INNER JOIN (SELECT * FROM INSERTED D) D
	ON D.nCompra = V.nCompra
END
GO
ALTER TABLE [dbo].[DETALLECOMPRA] ENABLE TRIGGER [TR_updateTotalActualizarC]
GO
