USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[DETALLECXP]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLECXP](
	[idDetalleCXP] [int] NOT NULL,
	[idCuenta] [int] NOT NULL,
	[fechaPago] [date] NOT NULL,
	[abono] [decimal](10, 2) NOT NULL,
	[nreciboProveedor] [int] NULL,
 CONSTRAINT [PK_DETALLECXP] PRIMARY KEY CLUSTERED 
(
	[idDetalleCXP] ASC,
	[idCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETALLECXP]  WITH CHECK ADD  CONSTRAINT [FK_DETALLECXP_CUENTAXPAGAR] FOREIGN KEY([idCuenta])
REFERENCES [dbo].[CUENTAXPAGAR] ([idCuenta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLECXP] CHECK CONSTRAINT [FK_DETALLECXP_CUENTAXPAGAR]
GO
