USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[USUARIO_SUCURSAL]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_SUCURSAL](
	[idUsuario] [int] NOT NULL,
	[idSucursal] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO_SUCURSAL] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC,
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USUARIO_SUCURSAL]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_SUCURSAL_SUCURSAL] FOREIGN KEY([idSucursal])
REFERENCES [dbo].[SUCURSAL] ([idSucursal])
GO
ALTER TABLE [dbo].[USUARIO_SUCURSAL] CHECK CONSTRAINT [FK_USUARIO_SUCURSAL_SUCURSAL]
GO
ALTER TABLE [dbo].[USUARIO_SUCURSAL]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_SUCURSAL_USUARIO] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[USUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[USUARIO_SUCURSAL] CHECK CONSTRAINT [FK_USUARIO_SUCURSAL_USUARIO]
GO
