USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[getDetalleCompra]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getDetalleCompra]
	-- Add the parameters for the stored procedure here
	@suc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT D.nDetalleC, P.dProducto, D.cantidad, D.precio, D.subtotal FROM DETALLECOMPRA D
	INNER JOIN PRODUCTOS P ON producto = P.idProducto
	WHERE nCompra = @suc 
END


GO
