USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[grabaVenta1]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Kevin Barrera
-- Create date: 07-03-2025
-- Description:	Objeto encargado de guardar integramente las ventas
-- =============================================
CREATE PROCEDURE [dbo].[grabaVenta1] 
	@usuario int,
	@sucursal int,
	@cliente varchar(10),
	@documento varchar(20),
	@total decimal(10,2),
	@efectivo decimal(10,2),
	@tarjeta decimal(10,2),
	@autoriza varchar(16),
	@codempleado int = NULL,
	@detalles DETALLESVENTA READONLY,
	@MSG VARCHAR(200) = NULL OUTPUT,
	@rc INT = NULL OUTPUT,
	@nVenta int = NULL OUTPUT,
	@horasDiferencia int = 0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @idCaja INT

	SELECT @idCaja = idTurno FROM APERTURACAJAS WHERE estado = 'A' AND sucursal = @sucursal
	IF ISNULL(@idCaja, '') = ''
	BEGIN
		SELECT @rc = -1
		SELECT @nVenta = -1
		SELECT @msg = 'NO SE HA APERTURADO LA CAJA PARA ESTA SUCURSAL'
		RETURN @rc 
	END

	SET @codempleado = CAST(@codempleado AS INT)
	IF NOT EXISTS(SELECT TOP 1 1 FROM VENDEDOR WHERE idVendedor = @codempleado AND estado = 1) OR @codempleado IS NULL
	BEGIN
		SELECT @nVenta = -1
		SELECT @MSG = 'EL CODIGO DEL EMPLEADO ES INCORRECTO'
		SELECT @rc = -2
		RETURN -2
	END
	
	BEGIN TRANSACTION GRABAVENTA
	DECLARE @FECHAVENTA DATETIME = DATEADD(HOUR, @horasDiferencia, GETDATE()), @SEC INT
	
	EXEC @SEC = sp_get_sequence 'VENTAS'
	
	IF @SEC = -1
	BEGIN
		SELECT @MSG = 'La tabla no está configurada en la tabla secuenciales'
		ROLLBACK TRAN GRABAVENTA
		RETURN -1
	END

	--GRABA CABECERA
	INSERT INTO VENTAS VALUES (@SEC, @FECHAVENTA, @usuario, @total, @documento, @sucursal, @cliente, @efectivo, @tarjeta, @autoriza, @codempleado, @idCaja)
	IF @@ERROR <> 0
	BEGIN
		SELECT @nVenta = -1
		SELECT @rc = -1
		ROLLBACK TRANSACTION GRABAVENTA
		RETURN @rc
	END

	DECLARE @QUERY NVARCHAR(500), @nDetalle SMALLINT, @producto INT, @cantidad INT, @precio DECIMAL(18,2), @subtotal DECIMAL(18,2)
	DECLARE CURSORDETALLES CURSOR FOR
	SELECT nDetalleVenta, producto, cantidad, precio, subtotal FROM @detalles

	OPEN CURSORDETALLES
	FETCH NEXT FROM CURSORDETALLES INTO @nDetalle, @producto, @cantidad, @precio, @subtotal

	WHILE @@FETCH_STATUS = 0
	BEGIN
		--GRABA DETALLES
		--La bonificacion (solo bandera 'I') y el costo se congelan al momento de la venta
		INSERT INTO DETALLEVENTAS (nDetalleV, nVenta, producto, cantidad, precio, subtotal, bonificacion, costo)
		SELECT
			@nDetalle,
			@SEC,
			@producto,
			@cantidad,
			@precio,
			@subtotal,
			CASE WHEN bandera = 'I' THEN ISNULL(bonificacion, 0) ELSE 0 END,
			ISNULL(costo, 0)
		FROM PRODUCTOS
		WHERE idProducto = @producto
		IF @@ERROR <> 0
		BEGIN
			SELECT @nVenta = -1
			SELECT @rc = -1
			ROLLBACK TRANSACTION GRABAVENTA
			RETURN @rc
		END

		SET @QUERY =
		'UPDATE EXISTENCIAS SET suc_' + CAST(@sucursal AS VARCHAR) + ' = ISNULL(suc_' + CAST(@sucursal AS VARCHAR) + ', 0)' + ' - ' + CAST(@cantidad AS VARCHAR) + ' WHERE idProducto = ' + CAST(@producto AS VARCHAR) 
	
		EXEC sp_executesql @QUERY
		IF @@ERROR <> 0
		BEGIN
			SELECT @nVenta = -1
			SELECT @rc = -1
			SELECT @MSG = 'ERROR AL ACTUALIZAR LAS EXISTENCIAS'
			ROLLBACK TRANSACTION GRABAVENTA
			RETURN @rc
		END

		FETCH NEXT FROM CURSORDETALLES INTO @nDetalle, @producto, @cantidad, @precio, @subtotal
	END

	CLOSE CURSORDETALLES
	DEALLOCATE CURSORDETALLES

	COMMIT TRANSACTION GRABAVENTA
	SELECT @rc = 0
	SELECT @MSG = 'LA VENTA SE REGISTRÓ CORRECTAMENTE'
	SELECT @nVenta = @SEC
	RETURN @rc
END
GO
