USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_getStoc]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getStoc] 
	-- Add the parameters for the stored procedure here
	@suc int, @pro int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @QUERY NVARCHAR(1000)

	SET @QUERY = 'SELECT suc_' + CAST(@suc AS VARCHAR) + ' FROM EXISTENCIAS WHERE idProducto = ' + CAST(@pro AS VARCHAR)

	EXEC sp_executesql @QUERY
    
END



GO
