USE [farmaciahorro_ispro2]
GO
/****** Object:  UserDefinedTableType [dbo].[LINEASVALE]    Script Date: 05/10/2026 10:13:36 a. m. ******/
CREATE TYPE [dbo].[LINEASVALE] AS TABLE(
	[nDetalle] [smallint] NOT NULL,
	PRIMARY KEY CLUSTERED 
(
	[nDetalle] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
