USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[CATEGORIAEGRESO]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAEGRESO](
	[idCategoriaEgreso] [int] NOT NULL,
	[nombreCategoriaEgreso] [varchar](20) NOT NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK_CATEGORIAEGRESO] PRIMARY KEY CLUSTERED 
(
	[idCategoriaEgreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
