USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_RecibeTraslado]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RecibeTraslado] 
	@OPT CHAR(1),
	@IDTRASLADO INT,
	@USUARIOENVIA VARCHAR(50) = NULL OUTPUT,
	@FECHAENVIA DATE  = NULL OUTPUT,
	@SUCENVIA VARCHAR(50)  = NULL OUTPUT,

	@MSG VARCHAR(200) = '' OUTPUT,
	@horasDiferencia int = 0
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @RECIBIDO CHAR(1), @FECHARECIBE DATE, @ENTRADAXTRASLADO INT, @SUCURSAL INT

	SET @FECHARECIBE = CAST(DATEADD(HOUR, @horasDiferencia, GETDATE()) AS DATE)

	BEGIN TRY
	SELECT @RECIBIDO = recibido, @USUARIOENVIA = U.nombreUsuario, 
		   @SUCENVIA = S.nombreSuc,
		   @FECHAENVIA = ST.fechasxtraslado
	FROM SALXTRASLADO ST
	LEFT JOIN USUARIO U ON ST.usuario = U.idUsuario
	LEFT JOIN SUCURSAL S ON ST.sucursalSalida = S.idSucursal
	WHERE nSXTraslado = @IDTRASLADO

	IF ISNULL(@RECIBIDO, 'S') = 'S'
	BEGIN
		SELECT @MSG = 'ESTE TRASLADO YA FUE PROCESADO'
		RETURN -1
	END
	
	IF @OPT = 'B'
	BEGIN
		SELECT @ENTRADAXTRASLADO = nEXTraslado FROM ENTXTRASLADO
		WHERE nSalidaRelacionada = @IDTRASLADO
		IF ISNULL(@ENTRADAXTRASLADO, '') = '' OR @@ROWCOUNT = 0
		BEGIN
			SELECT @MSG = 'NO SE ENCONTRARON COINCIDENCIAS'
			RETURN -1
		END

		SELECT ndetentradaxtraslado, nentradaxtraslado, producto, dProducto, cant 
		FROM DETENTRADAXTRASLADOTEMP
		LEFT JOIN PRODUCTOS ON producto = idProducto
		WHERE nentradaxtraslado = @ENTRADAXTRASLADO

	END

	IF @OPT = 'R'
	BEGIN
		SELECT @ENTRADAXTRASLADO = nEXTraslado, @SUCURSAL = sucursal FROM ENTXTRASLADO
		WHERE nSalidaRelacionada = @IDTRASLADO
		IF ISNULL(@ENTRADAXTRASLADO, '') = '' OR @@ROWCOUNT = 0
		BEGIN
			SELECT @MSG = 'NO SE ENCONTRARON COINCIDENCIAS'
			RETURN -1
		END

		BEGIN TRANSACTION RECIBETRASLADO
		DECLARE @QUERY NVARCHAR(500), @nDetalle SMALLINT, @nCabecera INT, @producto INT, @cantidad INT
		DECLARE CURSORDETALLES CURSOR FOR
		SELECT ndetentradaxtraslado, producto, cant 
		FROM DETENTRADAXTRASLADOTEMP
		WHERE nentradaxtraslado = @ENTRADAXTRASLADO

		OPEN CURSORDETALLES
		FETCH NEXT FROM CURSORDETALLES INTO @nDetalle, @producto, @cantidad

		WHILE @@FETCH_STATUS = 0
		BEGIN
			INSERT INTO DETENTRADAXTRASLADO (ndetentrxtralad, nentrxtrasld, producto, cant)
			VALUES (@nDetalle, @ENTRADAXTRASLADO, @producto, @cantidad)
			IF @@ERROR <> 0
			BEGIN
				ROLLBACK TRANSACTION RECIBETRASLADO
				SELECT @MSG = 'HUBO UN ERROR AL RECIBIR EL TRASLADO'
				RETURN -1
			END

			SET @QUERY =
			'UPDATE EXISTENCIAS SET suc_' + CAST(@SUCURSAL AS VARCHAR) + ' = suc_' + CAST(@SUCURSAL AS VARCHAR) + ' + ' + CAST(@cantidad AS VARCHAR) + ' WHERE idProducto = ' + CAST(@producto AS VARCHAR) 
	
			EXEC sp_executesql @QUERY
			IF @@ERROR <> 0
			BEGIN
				ROLLBACK TRANSACTION RECIBETRASLADO
				RETURN -1
			END

			FETCH NEXT FROM CURSORDETALLES INTO @nDetalle, @producto, @cantidad
		END

		CLOSE CURSORDETALLES
		DEALLOCATE CURSORDETALLES

		DELETE DETENTRADAXTRASLADOTEMP
		WHERE nentradaxtraslado = @ENTRADAXTRASLADO
		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRANSACTION RECIBETRASLADO
			SELECT @MSG = 'HUBO UN ERROR AL RECIBIR EL TRASLADO Y ACTUALIZAR EXISTENCIA'
			RETURN -1
		END

		UPDATE SALXTRASLADO SET recibido = 'S' WHERE nSXTraslado = @IDTRASLADO
		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRANSACTION RECIBETRASLADO
			SELECT @MSG = 'HUBO UN ERROR AL RECIBIR EL TRASLADO Y ACTUALIZAR SU ESTADO'
			RETURN -1
		END

		COMMIT TRAN RECIBETRASLADO
		SELECT @MSG = 'EL PROCESO SE REALIZÓ CORRECTAMENTE'
	END
	
	RETURN 0
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN RECIBETRASLADO
		SELECT ERROR_MESSAGE()
		RETURN -1
	END CATCH
END


GO
