USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[sp_mantPreciosXSucursal]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_mantPreciosXSucursal] 
	@opcion SMALLINT,
	@msg VARCHAR(200) = NULL OUTPUT,
	@codigo_producto INT,
	@precios PRECIOSXSUCURSAL READONLY,
	@precio_default DECIMAL(10,2) = 0.00
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @idSucursal INT, @precio DECIMAL(10,2)

	--OPCIONES 1. LISTAR|2. GRABAR
	IF @opcion = 1
	BEGIN		
		SELECT 
			s.idSucursal AS [Id Sucursal], 
			s.nombreSuc AS [Sucursal], 
			ISNULL(ps.precio, @precio_default) AS [Precio]
		FROM SUCURSAL s
		LEFT JOIN PRECIOS_SUCURSAL ps 
			ON s.idSucursal = ps.idSucursal 
			AND ps.idProducto = @codigo_producto
	END
	
	BEGIN TRAN GRABAPRECIOS
	IF @opcion = 2
	BEGIN
		--ELIMINANDO PRECIOS ANTERIORES
		DELETE PRECIOS_SUCURSAL WHERE idProducto = @codigo_producto
		IF @@ERROR <> 0
		BEGIN
			SET @msg = 'ERROR AL DEPURAR PRECIOS ANTERIORES'
			ROLLBACK TRAN GRABAPRECIOS
			RETURN -1
		END

		INSERT INTO PRECIOS_SUCURSAL (idProducto, idSucursal, precio)
		SELECT @codigo_producto, idSucursal, precio
		FROM @precios
		IF @@ERROR <> 0
		BEGIN
			SET @msg = 'ERROR AL GRABAR LOS PRECIOS'
			ROLLBACK TRAN GRABAPRECIOS
			RETURN -1
		END

		SET @msg = 'SE GRABARON LOS PRECIOS CORRECTAMENTE'
	END

	COMMIT TRAN GRABAPRECIOS
	RETURN 0
END
GO
