USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[ENTXTRASLADO]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTXTRASLADO](
	[nEXTraslado] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[sucursal] [int] NOT NULL,
	[usuario] [int] NOT NULL,
	[nSalidaRelacionada] [int] NULL,
 CONSTRAINT [PK_ENTXTRASLADO] PRIMARY KEY CLUSTERED 
(
	[nEXTraslado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ENTXTRASLADO]  WITH CHECK ADD  CONSTRAINT [FK_ENTXTRASLADO_SUCURSAL] FOREIGN KEY([sucursal])
REFERENCES [dbo].[SUCURSAL] ([idSucursal])
GO
ALTER TABLE [dbo].[ENTXTRASLADO] CHECK CONSTRAINT [FK_ENTXTRASLADO_SUCURSAL]
GO
ALTER TABLE [dbo].[ENTXTRASLADO]  WITH CHECK ADD  CONSTRAINT [FK_ENTXTRASLADO_USUARIO] FOREIGN KEY([usuario])
REFERENCES [dbo].[USUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[ENTXTRASLADO] CHECK CONSTRAINT [FK_ENTXTRASLADO_USUARIO]
GO
