USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[COMPRA]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRA](
	[nCompra] [int] IDENTITY(1,1) NOT NULL,
	[fechaC] [date] NOT NULL,
	[usuario] [int] NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[documento] [bigint] NOT NULL,
	[sucursal] [int] NOT NULL,
	[proveedor] [int] NOT NULL,
	[formaPago] [int] NOT NULL,
	[fechaPago] [date] NULL,
 CONSTRAINT [PK_COMPRA] PRIMARY KEY CLUSTERED 
(
	[nCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA_FORMAPAGO] FOREIGN KEY([formaPago])
REFERENCES [dbo].[FORMAPAGO] ([idFormaPago])
GO
ALTER TABLE [dbo].[COMPRA] CHECK CONSTRAINT [FK_COMPRA_FORMAPAGO]
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA_PROVEEDOR] FOREIGN KEY([proveedor])
REFERENCES [dbo].[PROVEEDOR] ([idProveedor])
GO
ALTER TABLE [dbo].[COMPRA] CHECK CONSTRAINT [FK_COMPRA_PROVEEDOR]
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA_SUCURSAL] FOREIGN KEY([sucursal])
REFERENCES [dbo].[SUCURSAL] ([idSucursal])
GO
ALTER TABLE [dbo].[COMPRA] CHECK CONSTRAINT [FK_COMPRA_SUCURSAL]
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA_USUARIO] FOREIGN KEY([usuario])
REFERENCES [dbo].[USUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[COMPRA] CHECK CONSTRAINT [FK_COMPRA_USUARIO]
GO
/****** Object:  Trigger [dbo].[TR_updateCxP]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[TR_updateCxP] 
   ON  [dbo].[COMPRA]
   AFTER UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	UPDATE CUENTAXPAGAR
	SET totalCuenta = (SELECT total FROM COMPRA WHERE nCompra = D.nCompra), saldoCuenta = (SELECT total FROM COMPRA WHERE nCompra = D.nCompra) FROM CUENTAXPAGAR CXP
	INNER JOIN (SELECT * FROM INSERTED D) D
	ON D.nCompra = CXP.idCompra 
END

GO
ALTER TABLE [dbo].[COMPRA] ENABLE TRIGGER [TR_updateCxP]
GO
