USE [farmaciahorro_ispro2]
GO
/****** Object:  StoredProcedure [dbo].[verVentasEliminadas]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[verVentasEliminadas]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT V.nVenta, V.fechaVenta, V.usuario, V.total, V.documento, SUC.nombreSuc, V.cliente, 
	ISNULL(V.efectivo, 0.0) AS Efectivo, ISNULL(V.tarjeta, 0.0) as Tarjeta, ISNULL(V.autorizacion, '') as Autorizacion, V.fechElim
	FROM VENTASELIMINADAS V
	INNER JOIN SUCURSAL SUC
	ON V.idSucursal = SUC.idSucursal
	ORDER BY V.fechaVenta DESC
END


GO
