USE [farmaciahorro_ispro2]
GO
/****** Object:  Table [dbo].[VENTASELIMINADAS]    Script Date: 05/10/2026 10:13:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTASELIMINADAS](
	[nVenta] [int] NOT NULL,
	[fechaVenta] [date] NULL,
	[usuario] [int] NULL,
	[total] [decimal](10, 2) NULL,
	[documento] [bigint] NULL,
	[idSucursal] [int] NULL,
	[cliente] [varchar](20) NULL,
	[efectivo] [decimal](10, 2) NULL,
	[tarjeta] [decimal](10, 2) NULL,
	[autorizacion] [varchar](50) NULL,
	[codempleado] [int] NULL,
	[turno] [int] NULL,
	[fechElim] [date] NULL,
 CONSTRAINT [PK_VENTASELIMINADAS] PRIMARY KEY CLUSTERED 
(
	[nVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
